<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet"  href="css/base.css" type="text/css" media="all">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">


</head>
<body>
<%- include modulesTools/header %>
	<!-- 中间部分开始 -->

		<div class="divtop">
			<ul class="ultop">
				<li class="litop litop2"><a href="/wendang" target="_blank">设计文档</a></li>
				<li class="litop litop3"><a href="/resume" target="_blank">页面演示</a></li>
			</ul>
		</div>
	<div id="contion">
	<div id="contents" class="clearfix">

	</div></div>
	<!-- 中间部分结束 -->
	<%- include modulesTools/footer %>
	<script type="text/javascript" src="js/jquery-main-211.js"></script>
	<script type="text/javascript" src="js/header.js"></script>
</body>
</html>