<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet"  href="./assets/css/link.css" type="text/css" media="all">
	<script type="text/javascript" src="./assets/js/link.js"></script>

</head>
<body>
<%- include header %>
	<!-- 中间部分开始 -->
		<div class="divtop">
			<ul class="ultop">
				<li class="litop litop1"><a>在线简历</a></li>
				<li class="litop litop2"><a href="./assets/css/wendang/index.html');?>" target="_blank">设计文档</a></li>
				<li class="litop litop3"><a href="./assets/css/resume/index.html');?>" target="_blank">页面演示</a></li>
			</ul>
		</div>
	<div id="contion">
		<iframe src="./assets/css/resume/index.html');?>" frameBorder="0" width="1199" scrolling="yes" height="600"></iframe>
		
	</div>
	<!-- 中间部分结束 -->
	<%- include footer %>
</body>
</html>