<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet"  href="css/base.css" type="text/css" media="all">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
   	<link rel="stylesheet"  href="css/domianname.css" type="text/css" media="all">
    	<script type="text/javascript" src="js/jquery-main-211.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/domianname.js"></script>
</head>
<body >
	<%- include modulesTools/header %>
	<!-- 中间部分开始 -->
	<div id="contion">
		<div id="contents" class="clearfix">
			<%- include modulesTools/domain %>
		</div>
	</div>
	<%- include modulesTools/footer %>
    	<script type="text/javascript" src="js/header.js"></script>
    	<script type="text/javascript" src="js/main.js"></script>
       	<script type="text/javascript" src="js/goto_back.js"></script>
</body>
</html>