<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<title>KANGJIAN</title>
		<link rel="stylesheet"  href="css/footer.css" type="text/css" media="all">
		<link rel="stylesheet"  href="css/goto_back.css" type="text/css" media="all">
		<script type="text/javascript" src="js/goto_back.js"></script>
		</head>
	<body >
		<footer id="footer-photos">
		<div class="gobackheader">
			<div id="code"></div>
			<div id="code_img"></div>
			<a id="gotop" href="javascript:void(0)"></a>
		</div>
			<div class="contion-div ">
				<div class="contion-div-relative">
					<img class="contion-div-img" alt="" src="img/home-5.png">
				</div>
			</div>
		</footer>
	</body>
</html>