<%- include modulesTools/headerLoader %>
	<%- include modulesTools/header %>
	<%- include modulesTools/menu %>
<style>

    .map_path {
        stroke: #ffffff;
        stroke-width: 1;
    }

    .grid_path{
        stroke: #2d527c;
        stroke-width: 1;
        fill:none;
        opacity: 1;
    }
    .containerBox{text-align: center;}

</style>
<div class="wrapper">
    <div class="containerBox">
        <div class="container">
            <!-- //旋转地球svg
            <div class="contentMap">
                <script src="../lib/other/d3.v3.min.js"></script>
                <script src="../json/wordMapJson/thisMap.js"></script>
            </div> -->
            <div class="textTiTle">
            <h1>捉弄</h1>
上天把你送到我面前 <br>
我祈祷 <br>
在可能相见的最后一天 <br>
直到你真的出现 <br>
我不知所措 <br>
所有的话都埋藏 <br>
几句简单的问候 <br>
彼此都带着失望离散 <br>
把握 <br>
当所想的真实出现 <br>
又有谁可以完美的对待 <br>
彼此失望湮灭想念 <br>
也许从此不再 <br>
牵挂与惦记依然是记忆深处的留念 <br>
也许还会可以 <br>
却不知道下一次会在哪里相遇 <br>
而等待永远是最残酷的期盼 <br>
<br>
2009年.初夏--KANGJIAN<br>

            </div>
        </div>
    </div>
</div>

<%- include modulesTools/footerLoader %>