<%- include modulesTools/headerLoader %>
	<%- include modulesTools/header %>
<style>

    .map_path {
        stroke: #ffffff;
        stroke-width: 1;
    }

    .grid_path{
        stroke: #2d527c;
        stroke-width: 1;
        fill:none;
        opacity: 1;
    }
    .containerBox{text-align: center;}

</style>
<div class="wrapper main-content" style="background-color: #f5f5f5">
    <div class="containerBox">
        <div class="container-fluid">
            <div class="textTiTle" style="margin:50px;">
                <div class="textTiTlePhoto">

                </div>
            </div>
        </div>
    </div>
</div>

<%- include modulesTools/footerLoader %>