<%- include modulesTools/headerLoader %>
	<%- include modulesTools/header %>
<style>

    .map_path {
        stroke: #ffffff;
        stroke-width: 1;
    }

    .grid_path{
        stroke: #2d527c;
        stroke-width: 1;
        fill:none;
        opacity: 1;
    }
    .containerBox{text-align: center;}

</style>
<div class="wrapper">
    <div class="containerBox">
        <div class="container">
            <div class="textTiTle">
                <div class="textTiTlePhoto">

                </div>
            </div>
        </div>
    </div>
</div>

<%- include modulesTools/footerLoader %>