@import 'definition';
/*===文档目录===*/
.right-blogs {
	width: 920px;
	float: right;
	height: auto !important;
	margin-top:0px;
}
.right-blogs-frame {
	float: left;
	width: 800px;
	padding: 30px 30px 15px 30px;
	border: solid 1px #e7e7e7;
	border-bottom: none;
	background: #fff;
	p {
		margin: 0 0 18px;
	}
}
.right-blogs-box {
	width: 100%;
	padding: 0;
	margin: 0 0 0px 0;
}
.right-blogs-title {
	font-size: 20px;
	color: #292929;
	margin: 0 0 15px;
	font-family: 'Play', arial, serif;
	font-weight: normal;
	padding-bottom: 15px;
	border-bottom: dotted 1px #ddd;
	a {
		color: #3a3a3a;
	}
}
.right-blogs-bar {
	width: 117px;
	background: #fff;
	font: 11px/13px Helvetica, Arial, sans-serif;
	float: left;
	border: {
		top: {
			@include Border(1px,#e7e7e7);
		}
		right: {
			@include Border(1px,#e7e7e7);
		}
		bottom: {
			@include Border(1px,#e7e7e7);
		}
	}
	padding: 15px 15px 25px 15px;
	p {
		margin: 0 !important;
	}
}


.right-bar-date {
	float: left;
	width: 90px;
	font-size: 14px;
	line-height: 18px;
	color: #a4a4a4;
	font-weight: bold;
	font-family: 'Play', Helvetica;
	border-bottom: dotted 1px #ccc;
}
.right-bar-day {
	float: left;
	font-size: 34px;
	line-height: 48px;
	color: #2e2e2e;
	letter-spacing: -3px;
}

.right-bar-holder {
	float: right;
	width: 49px;
	padding: 10px 0 0;
}

.right-bar-month {
	color: #797979;
	display: block;
	margin: 0 0 -6px;
	text-transform: uppercase;
}

.right-bar-title {
	display: block;
	font-size: 09px;
	line-height: 12px;
	font-weight: bold;
	color: #494949;
}

.right-bar-tag {
	float: left;
	width: 100%;
	padding: 15px 14px 0 0;
}