@import 'definition';
/*===footer.css===*/

footer{
	margin-top:40px;
}
#gotop{
	background:url(../../img/backup.png);position: fixed;
	z-index: 93;
	right: 30px;
	cursor: pointer;
	width:33px;
	height:33px;
	bottom: 50px;
}