@import '../definition';
 .itemAbout{
	padding: 4px;
	border: solid 1px #ddd;
	margin-right: 20px;
	margin-top: 20px;
	height: 340px;
	background:#fff;
	float: left;
	padding: 13px;
	text-align: center;
	border-radius: 4px;
	a {
		text-decoration: none;
		color: #333;
		&:hover{
			text-decoration: none;
		}
	}
	img {
		border: 0;
	}
	h2 {
		padding: 10px 0;
		font-size: 30px;
		margin-top: 20px;
		margin-bottom: 10px;
		font-weight: 500;
		line-height: 1.1;
		color: inherit;
	}
	p {
		margin-bottom: 10px;
	}
}