@import '../definition';
#droptabs{
  background-color: #fff;
  height:38px;
	padding: {
		//left: 15px;
		//right:15px;
	}
	a{
      color: #428bca;
		&:hover{
			color:#333;
		}
	}
	.active{
		a{
			color:#333;
		}
	}
}