/*
Error: Invalid GBK character "\xE5"
        on line 91 of C:\Users\kangjian\Desktop\composition\kcoolBlog\public\sass\menu\login.scss

86: 				height: 100%;
87: 				width: 30%;
88: 				border: 0px;
89: 				color: #fefefe;
90: 				font-size: 18px;
91: 				font-family: 微软雅黑,"Microsoft YaHei";
92: 				border-radius: 3px;
93: 				float: right;
94: 			}
95: 		}
96: 		p.on .user {

Backtrace:
C:\Users\kangjian\Desktop\composition\kcoolBlog\public\sass\menu\login.scss:91
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:902:in `rescue in check_sass_encoding'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:898:in `check_sass_encoding'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE5\"\A         on line 91 of C:\Users\kangjian\Desktop\composition\kcoolBlog\public\sass\menu\login.scss\A \A 86: 				height: 100%;\A 87: 				width: 30%;\A 88: 				border: 0px;\A 89: 				color: #fefefe;\A 90: 				font-size: 18px;\A 91: 				font-family: 微软雅黑,\"Microsoft YaHei\";\A 92: 				border-radius: 3px;\A 93: 				float: right;\A 94: 			}\A 95: 		}\A 96: 		p.on .user {"; }
