@charset "UTF-8";
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

#header-login-bg {
  z-index: 66666;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #262820;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.loginCursor {
  cursor: pointer; }

.header-login {
  display: none;
  position: fixed;
  left: 40%;
  top: 35%;
  z-index: 99999;
  width: 18%;
  height: 26%;
  min-width: 230px;
  min-height: 200px; }

.login-box {
  width: 100%;
  position: absolute;
  height: 100%; }
  .login-box .close {
    background: url(../../img/icon/do.png) no-repeat 0 -75px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer; }
  .login-box .cont {
    width: 100%;
    padding: 0px 0 8px 0;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #9fa6ad;
    border-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 4px;
    height: 100%; }
    .login-box .cont p {
      height: 20%;
      color: #fff;
      clear: both;
      width: 90%;
      margin: 0px auto 5% auto; }
      .login-box .cont p .user {
        background: url(../../img/icon/user.png) no-repeat center center;
        height: 100%;
        width: 15%; }
      .login-box .cont p i {
        background: #b2b2b2;
        width: 33px;
        height: 33px;
        float: left;
        background: url(../../img/icon/do.png) no-repeat #b2b2b2; }
      .login-box .cont p .txt {
        font-size: 12px;
        text-indent: 12px;
        color: #8c8c8c;
        height: 32px;
        padding: 0px;
        margin: 0px;
        width: 167px;
        border: 1px solid #b2b2b2;
        float: left;
        height: 100%;
        width: 84%;
        border: none;
        outline: medium; }
      .login-box .cont p .pw {
        background: url(../../img/icon/pass.png) no-repeat center center #b2b2b2;
        height: 100%;
        width: 15%; }
      .login-box .cont p .btn {
        background: #ff6908;
        height: 100%;
        width: 30%;
        border: 0px;
        color: #fefefe;
        font-size: 18px;
        font-family: 微软雅黑,"Microsoft YaHei";
        border-radius: 3px;
        float: right; }
    .login-box .cont p.on .user {
      background-color: #25c7f2; }
    .login-box .cont h3 {
      text-align: center;
      color: #fff;
      margin: 5px 0;
      font-weight: normal;
      font-size: 12px; }
  .login-box .logintag {
    height: 19%;
    margin: 0;
    margin-bottom: 5%;
    position: relative;
    top: 0;
    font-size: 14px; }
    .login-box .logintag li {
      list-style-type: none;
      float: left;
      width: 50%;
      height: 100%;
      position: absolute;
      border-bottom: 1px solid #9fa6ad;
      border-left: 1px solid #9fa6ad;
      border-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      margin-bottom: 5%;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      right: 0;
      top: 0; }
      .login-box .logintag li span {
        position: absolute;
        top: 50%;
        margin-top: -8px;
        width: 100%;
        text-align: center; }
    .login-box .logintag .on {
      background: none;
      border-bottom: 0; }
  .login-box .remeber {
    padding-right: 15px;
    color: #adafb1;
    margin-top: 7px; }
  .login-box .codeP {
    text-align: center;
    margin-top: -6px;
    position: relative;
    height: 65%;
    clear: both; }

input[type="checkbox" i] {
  margin: 3px 3px 3px 4px; }

user agent stylesheetinput[type="checkbox" i] {
  -webkit-appearance: checkbox;
  box-sizing: border-box; }

user agent stylesheetinput[type="radio" i], input[type="checkbox" i] {
  margin: 3px 0.5ex;
  padding: initial;
  background-color: initial;
  border: initial; }

user agent stylesheetinput, input[type="password" i], input[type="search" i] {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto; }

user agent stylesheetinput, textarea, keygen, select, button {
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start; }

user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb; }

/*# sourceMappingURL=login.css.map */
