/* line 19, ../../sass/definition.scss */
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/* line 2, ../../sass/menu/skin.scss */
.skinWrapper {
  width: 300px;
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 8, ../../sass/menu/skin.scss */
.skinWrapper .skinBox {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 13, ../../sass/menu/skin.scss */
.skinWrapper .skinBox .skinLink {
  float: left;
  list-style: none;
}
/* line 16, ../../sass/menu/skin.scss */
.skinWrapper .skinBox .skinLink a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 a;
  margin: 0 8px;
  text-decoration: none;
  border: 1px solid #fff;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
