@import '../definition';
@import 'definition';


.closeProse{
	h2 i{
		@include transform(rotate(-90deg));
	}
	.list{
		opacity:0;
		height:0!important;
	}
}
.prose-tree {
	position:relative;
	width:960px;
	margin:0 auto;
	h2{
	 	height:40px;
	 	width:170px;
	 	padding-right:30px;
	 	font-size:24px;
	 	line-height:40px;
	 	text-align:right;
	 	a {
	 		color:#58a6fb;
	 		text-decoration: none;
	 		i {
				display:block;
				position:relative;
				height:0;width:0;
				left:190px;
				top:-20px;
				border-width:6px;
				border-style:solid;
				border-color:#59a7fb transparent transparent transparent;
				@include transition(.5s);
				@include transformOrigin(6px 3px);
			}
		}
	 }
	.list{
	 	margin:10px 0;
	 	overflow:hidden;
	 	@include transition((height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s));
		bottom:0;
		.cls{
			padding:30px 0;
			color:#a1a4b8;
			zoom:1;
			&:after{
				content:".";
				display:block;
				height:0;
				clear:both;
				visibility:
				hidden;
			}
			.version{
				float:left;
				display:block;
				clear:left;
				width:200px;
				line-height:24px;
				text-align:right
			}
			.date{
				@extend .version;
				font-size:18px;
				line-height:32px;
				color:#bec1d5
			}
			.more{
				float:left;
				display:block;
				width:650px;
				margin-left:100px;
				line-height:24px;
			}
			.intro{
				@extend .more;
				font-size:18px;
				line-height:32px;
				color:#63d029;
			}
		}
	}
}
