
<div class="container poNav">
	<ul>
<<<<<<< HEAD
		<li class="col-md-2"><a href="/poDeleteBlogs">blogs</a></li>
		<li class="col-md-2"><a href="/poDeleteNotes">notes</a></li>
		<li class="col-md-2"><a href="/poDeleteFeels">feels</a></li>
		<li class="col-md-2"><a href="/poDeleteDomain">domain name</a></li>
		<li class="col-md-2"><a href="/poDeleteProse">prose</a></li>
		<li class="col-md-2"><a href="/poDeleteCatalogue">catalogue</a></li>
=======
		<li class="col-md-3"><a href="/poDeleteBlogs">blogs</a></li>
		<li class="col-md-3"><a href="/poDeleteDomain">domain name</a></li>
		<li class="col-md-3"><a href="/poDeleteProse">prose</a></li>
		<li class="col-md-3"><a href="/poDeleteCatalogue">catalogue</a></li>
>>>>>>> origin/master
	</ul>
</div>