<%- include ../modulesTools/headerLoader %>
<%- include ../modulesTools/header %>

<div class="wrapper main-content" style="background-color: #fff;">
    <div class="container-fluid ">
		<%- include about/assemblyList %>
	</div>
</div>
<%- include ../modulesTools/footerLoader %>