<%- include ../modulesTools/headerLoader %>
<%- include ../modulesTools/header %>


<div class="wrapper main-content" style="background-color: #fff;">
    <div class="container-fluid " style="padding-top:20px;">
		<%- include about/catalogueList %>
	</div>
</div>
<%- include ../modulesTools/footerLoader %>