<%- include ../modulesTools/headerLoader %>
<%- include ../modulesTools/header %>


<div class="wrapper main-content">
    <div class="container-fluid " style="padding:0;">
		<%- include life/photoList %>
	</div>
</div>
<%- include ../modulesTools/footerLoader %>