<%- include ../modulesTools/headerLoader %>
<%- include ../modulesTools/header %>


<div class="wrapper main-content" style="padding-top: 30px;background-color: #fff;">
    <div class="container-fluid ">
		<%- include life/proseList %>
	</div>
</div>
<%- include ../modulesTools/footerLoader %>