<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>



</br>
<%- include header %>
    <h1>这是主页</h1>
    <p>Welcome to <%= title %>,kahn</p>

<%- include footer %>



  </body>
</html>
