/*定义背景*/
body{
	background: url(../../img/aa.jpg);
}
#header_left_box {
	background: url(../../img/aa.jpg);
}/*定义背景结束*/
#contion{
	width:1200px;
	background: #fff;
	margin:0 auto 0 auto;
	z-index:1010;
	border-radius: 5px 5px 0 0;
}
#contents{
	padding:40px 60px 60px 60px;
}
.divtop{
	width:40px;
	height:40px;
	background:#fff;
	position:fixed;
	top:200px;
	left:10px;
}
.ultop{
	font-size:18px;
}
.litop{
	margin-bottom: 20px;
}
.litop a{
	display: block;
	padding:10px;
}
.litop1,.litop1 a{
	color:#1bbc9b;
	background: #fff;
	cursor:default;
}
.litop2,.litop3,.litop2 a,.litop3 a{
	color:#fff;
	background: #1bbc9b;
	cursor:pointer;
}







