@charset "UTF-8";
/* line 19, ../sass/definition.scss */
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/*  文本详细 */
/* line 3, ../sass/article.scss */
.div-reader-title {
  width: 100%;
  height: 70px;
  line-height: 60px;
  color: #A52A9B;
  font-size: 30px;
  background: #fff;
  padding: 10px 30px 0 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}

/* line 19, ../sass/article.scss */
p.p-reader-title {
  display: block;
  float: left;
}

/* line 23, ../sass/article.scss */
a.a-reader-prev, a.a-reader-next {
  height: 20px;
  width: 80px;
  text-align: center;
  line-height: 20px;
  color: #6DAF45;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  float: right;
  cursor: auto;
}

/* line 43, ../sass/article.scss */
.div-reader-text {
  width: 100%;
  color: #3D3238;
  font-size: 20px;
  background: #fff;
  padding: 20px 30px 30px 30px;
}

/* line 50, ../sass/article.scss */
#prettyprint li {
  list-style: inherit;
}

/* line 53, ../sass/article.scss */
#reader-right #prettyprint ol, ul, dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  padding: 0;
}

/* line 60, ../sass/article.scss */
#reader-right {
  /* 富文本*/
}
/* line 61, ../sass/article.scss */
#reader-right ol, #reader-right ul {
  list-style-type: decimal-leading-zero;
}
/* line 65, ../sass/article.scss */
#reader-right .cke_editable {
  font-size: 13px;
  line-height: 1.6;
}
/* line 69, ../sass/article.scss */
#reader-right blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 2px 0 0 20px;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #ccc;
}
/* line 76, ../sass/article.scss */
#reader-right .cke_contents_ltr blockquote {
  padding-left: 20px;
  padding-right: 8px;
  border-left-width: 5px;
}
/* line 87, ../sass/article.scss */
#reader-right .cke_contents_rtl blockquote {
  padding-left: 8px;
  padding-right: 20px;
  border-right-width: 5px;
}
/* line 98, ../sass/article.scss */
#reader-right a {
  color: #0782C1;
}
/* line 100, ../sass/article.scss */
#reader-right a > img {
  padding: 1px;
  margin: 1px;
  border: none;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #0782C1;
}
/* line 111, ../sass/article.scss */
#reader-right ol, #reader-right ul, #reader-right dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  /*  padding: 0 40px;*/
}
/* line 119, ../sass/article.scss */
#reader-right h1, #reader-right h2, #reader-right h3, #reader-right h4, #reader-right h5, #reader-right h6 {
  font-weight: normal;
  line-height: 1.2;
}
/* line 125, ../sass/article.scss */
#reader-right hr {
  border: 0px;
  border-top-width: 0 0 0 5px;
  border-top-style: solid;
  border-top-color: #ccc;
}
/* line 133, ../sass/article.scss */
#reader-right img.right {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  float: right;
  margin-left: 15px;
  padding: 5px;
}
/* line 141, ../sass/article.scss */
#reader-right img.left {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  float: left;
  margin-right: 15px;
  padding: 5px;
}
/* line 149, ../sass/article.scss */
#reader-right pre {
  white-space: pre-wrap;
  /* CSS 2.1 */
  word-wrap: break-word;
  /* IE7 */
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  -ms-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
/* line 154, ../sass/article.scss */
#reader-right .marker {
  background-color: Yellow;
}
/* line 157, ../sass/article.scss */
#reader-right span[lang] {
  font-style: italic;
}
/* line 160, ../sass/article.scss */
#reader-right figure {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
}
/* line 170, ../sass/article.scss */
#reader-right figure > figcaption {
  text-align: center;
  display: block;
  /* For IE8 */
}
