/*===所有行元素===*/
a,b,em,i,img,input,label,select,span,strong,sub,sup,textarea{
	text-decoration:none;
	}
/*===所有块元素===*/
div,dl,h1,h2,h3,h4,h5,h6,menu,ol,p,table,ul,li{
	text-decoration:none;
	}
ul,li{
	list-style:none;
	}
/*===清除浮动===*/
div.clear-float{
	clear:both;
	}
/*===字体===*/
.size-18{
	font-size: 18px;font-weight: 600;
	}
.size-14{
	font-size: 14px;font-weight: 400;
	}
.size-16{
	font-size: 16px;font-weight: 400;
	}