@charset "UTF-8";
/* CSS reset */
/* line 3, ../sass/reset.scss */
a, b, em, i, img, input, label, select, span, strong, sub, sup, textarea {
  text-decoration: none;
}

/* line 7, ../sass/reset.scss */
div, dl, h1, h2, h3, h4, h5, h6, menu, ol, p, table, ul, li {
  text-decoration: none;
}

/* line 10, ../sass/reset.scss */
ul, li {
  list-style: none;
}

/* line 14, ../sass/reset.scss */
div.clear-float {
  clear: both;
}

/* line 18, ../sass/reset.scss */
.size-18 {
  font-size: 18px;
  font-weight: 600;
}

/* line 21, ../sass/reset.scss */
.size-14 {
  font-size: 14px;
  font-weight: 400;
}

/* line 24, ../sass/reset.scss */
.size-16 {
  font-size: 16px;
  font-weight: 400;
}

/* clearfix */
/* line 28, ../sass/reset.scss */
.clearfix:after, .widget li:after, #body:after, #footer:after, footer:after, .pagenav:after, #main-nav:after, .menu:after, .gallery:after, #content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 30, ../sass/reset.scss */
.clearfix, .widget li, #body, #footer, footer, .pagenav, #main-nav, .menu, .gallery, #content {
  display: inline-block;
}

/* clearfix for ie7 */
/* line 33, ../sass/reset.scss */
.clearfix, .widget li, #body, #footer, footer, .pagenav, #main-nav, .menu, .gallery, #content {
  display: block;
  zoom: 1;
}

/* line 35, ../sass/reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 39, ../sass/reset.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 43, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../sass/reset.scss */
fieldset, img {
  border: 0;
}

/* line 50, ../sass/reset.scss */
input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

/* line 56, ../sass/reset.scss */
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 60, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 63, ../sass/reset.scss */
caption, th {
  text-align: left;
}

/* line 66, ../sass/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 70, ../sass/reset.scss */
q:before, q:after {
  content: '';
}

/* line 73, ../sass/reset.scss */
abbr, acronym {
  border: 0;
}

/* line 19, ../sass/definition.scss */
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/*===header.css===*/
/* line 3, ../sass/header.scss */
#contents {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* line 9, ../sass/header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  color: #fff;
  -webkit-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* line 19, ../sass/header.scss */
.left-close {
  width: 26px;
}
/* line 21, ../sass/header.scss */
.left-close .header-btn {
  background-image: url("../../img/sidebar_icon.png");
}
/* line 24, ../sass/header.scss */
.left-close .header-nav, .left-close .header-tags, .left-close .header-icon, .left-close .header-skin, .left-close .header-login {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

/* line 31, ../sass/header.scss */
.left-open {
  width: 70%;
}
/* line 33, ../sass/header.scss */
.left-open .header-btn {
  background-image: url("../../img/sidebar_icon.png");
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 39, ../sass/header.scss */
.header-btn {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 85px;
  top: 312px;
  right: 0;
  margin-top: -43px;
  background: top left;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  zoom: 1;
}
/* line 51, ../sass/header.scss */
.header-btn:hover {
  background: url("../../img/sidebar_icon.png") no-repeat 0px -85.5px;
}

/* line 55, ../sass/header.scss */
.header-line {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 26px;
  z-index: 50;
  cursor: auto;
}

/*===第二个header，nav导航菜单部分===*/
/* line 65, ../sass/header.scss */
.header-nav {
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
}
/* line 69, ../sass/header.scss */
.header-nav span {
  color: #fff;
  vertical-align: baseline;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: 14px;
  font-weight: 400;
}
/* line 75, ../sass/header.scss */
.header-nav span:hover {
  border-bottom: 3px solid #669900;
}
/* line 79, ../sass/header.scss */
.header-nav li {
  text-align: center;
}

/*=== 头部标签部分===*/
/* line 114, ../sass/header.scss */
.tag-box {
  display: block;
  overflow: hidden;
  list-style: disc;
  margin: 0 0 9px 25px;
  font-size: 13px;
  line-height: 18px;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-before: 1em;
  margin-after: 1em;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 0px;
  -o-margin-before: 1em;
  -o-margin-after: 1em;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-start: 0px;
  -ms-margin-before: 1em;
  -ms-margin-after: 1em;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-start: 0px;
  -moz-margin-before: 1em;
  -moz-margin-after: 1em;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 124, ../sass/header.scss */
.tag-box .tag-link {
  float: left;
  margin: 0 10px 6px 0;
  line-height: 1.8;
  display: list-item;
  text-align: -webkit-match-parent;
}
/* line 130, ../sass/header.scss */
.tag-box .tag-link a {
  display: inline-block;
  text-decoration: none;
  font: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace 12px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  margin: 5px 0 5px 8px;
  padding: 0 5px 0 12px;
  position: relative;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 141, ../sass/header.scss */
.tag-box .tag-link a:-webkit-any-link {
  cursor: auto;
}
/* line 144, ../sass/header.scss */
.tag-box .tag-link a:hover {
  opacity: 0.8;
  color: #fff;
}
/* line 148, ../sass/header.scss */
.tag-box .tag-link a:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: -18px;
  border: 9px solid transparent;
  border-right-color: #fff;
}
/* line 158, ../sass/header.scss */
.tag-box .tag-link a:after {
  content: " ";
  width: 4px;
  height: 4px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 7px;
  left: 2px;
}
/* line 170, ../sass/header.scss */
.tag-box .tag-link span {
  vertical-align: super;
  font-size: 0.8em;
  color: #fff;
  padding-left: 3px;
  padding-right: 3px;
  -webkit-box-shadow: 0em 0em 0em 0em #ffffff;
  -moz-box-shadow: 0em 0em 0em 0em #ffffff;
  -ms-box-shadow: 0em 0em 0em 0em #ffffff;
  -o-box-shadow: 0em 0em 0em 0em #ffffff;
  box-shadow: 0em 0em 0em 0em #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/*=== icon===*/
/* line 183, ../sass/header.scss */
.header-icon .icon-box {
  display: block;
  overflow: hidden;
}
/* line 186, ../sass/header.scss */
.header-icon .icon-box .icon-link {
  float: left;
}
/* line 188, ../sass/header.scss */
.header-icon .icon-box .icon-link a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 a;
  margin: 0 8px;
  text-decoration: none;
  border: 1px solid #fff;
  width: 28px;
  height: 28px;
}
/* line 199, ../sass/header.scss */
.header-icon .icon-box .icon-link a:hover {
  border: 1px solid #323131;
}

/*=== gb===*/
/* line 208, ../sass/header.scss */
.header-skin .skin-box {
  display: block;
  overflow: hidden;
}
/* line 211, ../sass/header.scss */
.header-skin .skin-box .skin-link {
  float: left;
  padding-top: 15px;
}
/* line 214, ../sass/header.scss */
.header-skin .skin-box .skin-link a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 a;
  margin: 0 8px;
  text-decoration: none;
  border: 1px solid #fff;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
/* line 229, ../sass/header.scss */
.header-skin #header-skin-leave {
  background: url(../../img/icon/do.png) -4px -593px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* line 233, ../sass/header.scss */
.header-skin p {
  text-align: center;
}

/*=== login===*/
/* line 239, ../sass/header.scss */
.login {
  background-position: 0 -590px;
}

/* line 242, ../sass/header.scss */
.conrol_btn {
  float: left;
  z-index: 11;
  background: url(../../img/icon/do.png) 0 -590px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  text-indent: 9999999px;
}

/* line 251, ../sass/header.scss */
.header-login {
  display: none;
  position: absolute;
  right: 40px;
  top: 100px;
  z-index: 11;
  width: 18%;
  height: 26%;
  min-width: 230px;
  min-height: 200px;
}

/* line 262, ../sass/header.scss */
.login-box {
  width: 100%;
  position: absolute;
  height: 100%;
}
/* line 266, ../sass/header.scss */
.login-box .close {
  background: url(../../img/icon/do.png) no-repeat 0 -75px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
}
/* line 275, ../sass/header.scss */
.login-box .cont {
  width: 100%;
  padding: 0px 0 8px 0;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #9fa6ad;
  border-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 4px;
  height: 100%;
}
/* line 284, ../sass/header.scss */
.login-box .cont p {
  height: 20%;
  color: #fff;
  clear: both;
  width: 90%;
  margin: 0px auto 5% auto;
}
/* line 290, ../sass/header.scss */
.login-box .cont p .user {
  background: url(../../img/icon/user.png) no-repeat center center;
  height: 100%;
  width: 15%;
}
/* line 295, ../sass/header.scss */
.login-box .cont p i {
  background: #b2b2b2;
  width: 33px;
  height: 33px;
  float: left;
  background: url(../../img/icon/do.png) no-repeat #b2b2b2;
}
/* line 302, ../sass/header.scss */
.login-box .cont p .txt {
  font-size: 12px;
  text-indent: 12px;
  color: #8c8c8c;
  height: 32px;
  padding: 0px;
  margin: 0px;
  width: 167px;
  border: 1px solid #b2b2b2;
  float: left;
  height: 100%;
  width: 84%;
  border: none;
  outline: medium;
}
/* line 317, ../sass/header.scss */
.login-box .cont p .pw {
  background: url(../../img/icon/pass.png) no-repeat center center #b2b2b2;
  height: 100%;
  width: 15%;
}
/* line 322, ../sass/header.scss */
.login-box .cont p .btn {
  background: #ff6908;
  height: 100%;
  width: 30%;
  border: 0px;
  color: #fefefe;
  font-size: 18px;
  font-family: 微软雅黑,"Microsoft YaHei";
  border-radius: 3px;
  float: right;
}
/* line 334, ../sass/header.scss */
.login-box .cont p.on .user {
  background-color: #25c7f2;
}
/* line 337, ../sass/header.scss */
.login-box .cont h3 {
  text-align: center;
  color: #fff;
  margin: 5px 0;
  font-weight: normal;
  font-size: 12px;
}
/* line 345, ../sass/header.scss */
.login-box .logintag {
  height: 19%;
  margin: 0;
  margin-bottom: 5%;
  position: relative;
  top: 0;
  font-size: 14px;
}
/* line 352, ../sass/header.scss */
.login-box .logintag li {
  float: left;
  width: 50%;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid #9fa6ad;
  border-left: 1px solid #9fa6ad;
  border-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  right: 0;
  top: 0;
}
/* line 366, ../sass/header.scss */
.login-box .logintag li span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 100%;
  text-align: center;
}
/* line 374, ../sass/header.scss */
.login-box .logintag .on {
  background: none;
  border-bottom: 0;
}
/* line 379, ../sass/header.scss */
.login-box .remeber {
  padding-right: 15px;
  color: #adafb1;
  margin-top: 7px;
}
/* line 384, ../sass/header.scss */
.login-box .codeP {
  text-align: center;
  margin-top: -6px;
  position: relative;
  height: 65%;
  clear: both;
}

/* line 393, ../sass/header.scss */
input[type="checkbox" i] {
  margin: 3px 3px 3px 4px;
}

/* line 396, ../sass/header.scss */
user agent stylesheetinput[type="checkbox" i] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
}

/* line 400, ../sass/header.scss */
user agent stylesheetinput[type="radio" i], input[type="checkbox" i] {
  margin: 3px 0.5ex;
  padding: initial;
  background-color: initial;
  border: initial;
}

/* line 406, ../sass/header.scss */
user agent stylesheetinput, input[type="password" i], input[type="search" i] {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

/* line 420, ../sass/header.scss */
user agent stylesheetinput, textarea, keygen, select, button {
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

/* line 432, ../sass/header.scss */
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}

/*===日期===*/
/* line 3, ../sass/datas.scss */
.left-data {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 0px;
  -webkit-border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -moz-border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -ms-border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -o-border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
}
/* line 9, ../sass/datas.scss */
.left-data table {
  color: #666;
  font-size: 18px;
  margin-bottom: 0;
  background: #eee;
}
/* line 15, ../sass/datas.scss */
.left-data table td {
  text-align: center;
}

/* line 19, ../sass/datas.scss */
.left-data-title {
  background: url(../../img/darkbg.jpg);
  padding: 10px;
  color: #fff;
  font-size: 12px;
  font-family: 'Play', Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0;
}

/*===文档目录===*/
/* line 3, ../sass/articleMenu.scss */
.right-blogs {
  width: 920px;
  float: right;
  height: auto !important;
  margin-top: 0px;
}

/* line 9, ../sass/articleMenu.scss */
.right-blogs-frame {
  float: left;
  width: 800px;
  padding: 30px 30px 15px 30px;
  border: solid 1px #e7e7e7;
  border-bottom: none;
  background: #fff;
}
/* line 16, ../sass/articleMenu.scss */
.right-blogs-frame p {
  margin: 0 0 18px;
}

/* line 20, ../sass/articleMenu.scss */
.right-blogs-box {
  width: 100%;
  padding: 0;
  margin: 0 0 0px 0;
}

/* line 25, ../sass/articleMenu.scss */
.right-blogs-title {
  font-size: 20px;
  color: #292929;
  margin: 0 0 15px;
  font-family: 'Play', arial, serif;
  font-weight: normal;
  padding-bottom: 15px;
  border-bottom: dotted 1px #ddd;
}
/* line 33, ../sass/articleMenu.scss */
.right-blogs-title a {
  color: #3a3a3a;
}

/* line 37, ../sass/articleMenu.scss */
.right-blogs-bar {
  width: 117px;
  background: #fff;
  font: 11px/13px Helvetica, Arial, sans-serif;
  float: left;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e7e7e7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e7e7e7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e7e7;
  padding: 15px 15px 25px 15px;
}
/* line 54, ../sass/articleMenu.scss */
.right-blogs-bar p {
  margin: 0 !important;
}

/* line 60, ../sass/articleMenu.scss */
.right-bar-date {
  float: left;
  width: 90px;
  font-size: 14px;
  line-height: 18px;
  color: #a4a4a4;
  font-weight: bold;
  font-family: 'Play', Helvetica;
  border-bottom: dotted 1px #ccc;
}

/* line 70, ../sass/articleMenu.scss */
.right-bar-day {
  float: left;
  font-size: 34px;
  line-height: 48px;
  color: #2e2e2e;
  letter-spacing: -3px;
}

/* line 78, ../sass/articleMenu.scss */
.right-bar-holder {
  float: right;
  width: 49px;
  padding: 10px 0 0;
}

/* line 84, ../sass/articleMenu.scss */
.right-bar-month {
  color: #797979;
  display: block;
  margin: 0 0 -6px;
  text-transform: uppercase;
}

/* line 91, ../sass/articleMenu.scss */
.right-bar-title {
  display: block;
  font-size: 09px;
  line-height: 12px;
  font-weight: bold;
  color: #494949;
}

/* line 99, ../sass/articleMenu.scss */
.right-bar-tag {
  float: left;
  width: 100%;
  padding: 15px 14px 0 0;
}

/* line 1, ../sass/domain.scss */
#droptabs {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 6, ../sass/domain.scss */
#droptabs a {
  color: #fff;
}
/* line 8, ../sass/domain.scss */
#droptabs a:hover {
  color: #333;
}
/* line 13, ../sass/domain.scss */
#droptabs .active a {
  color: #333;
}

/* line 2, ../sass/catalogue.scss */
#contents {
  /* aside dl{
  	background: #EA5124;
  }
  
  aside dt{
  	background: #fff;
  	text-align: center;
  } */
}
/* line 2, ../sass/catalogue.scss */
#contents aside dl dd a {
  text-decoration: none;
}

/* line 5, ../sass/prose.scss */
.closeProse h2 i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 8, ../sass/prose.scss */
.closeProse .list {
  opacity: 0;
  height: 0 !important;
}

/* line 13, ../sass/prose.scss */
.prose-tree {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
/* line 17, ../sass/prose.scss */
.prose-tree h2 {
  height: 40px;
  width: 170px;
  padding-right: 30px;
  font-size: 24px;
  line-height: 40px;
  text-align: right;
}
/* line 24, ../sass/prose.scss */
.prose-tree h2 a {
  color: #58a6fb;
  text-decoration: none;
}
/* line 27, ../sass/prose.scss */
.prose-tree h2 a i {
  display: block;
  position: relative;
  height: 0;
  width: 0;
  left: 190px;
  top: -20px;
  border-width: 6px;
  border-style: solid;
  border-color: #59a7fb transparent transparent transparent;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: 6px 3px;
  -moz-transform-origin: 6px 3px;
  -ms-transform-origin: 6px 3px;
  -o-transform-origin: 6px 3px;
  transform-origin: 6px 3px;
}
/* line 41, ../sass/prose.scss */
.prose-tree .list {
  margin: 10px 0;
  overflow: hidden;
  -webkit-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  -moz-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  -ms-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  -o-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  bottom: 0;
}
/* line 46, ../sass/prose.scss */
.prose-tree .list .cls {
  padding: 30px 0;
  color: #a1a4b8;
  zoom: 1;
}
/* line 50, ../sass/prose.scss */
.prose-tree .list .cls:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 58, ../sass/prose.scss */
.prose-tree .list .cls .version, .prose-tree .list .cls .date {
  float: left;
  display: block;
  clear: left;
  width: 200px;
  line-height: 24px;
  text-align: right;
}
/* line 66, ../sass/prose.scss */
.prose-tree .list .cls .date {
  font-size: 18px;
  line-height: 32px;
  color: #bec1d5;
}
/* line 72, ../sass/prose.scss */
.prose-tree .list .cls .more, .prose-tree .list .cls .intro {
  float: left;
  display: block;
  width: 650px;
  margin-left: 100px;
  line-height: 24px;
}
/* line 79, ../sass/prose.scss */
.prose-tree .list .cls .intro {
  font-size: 18px;
  line-height: 32px;
  color: #63d029;
}

/* line 1, ../sass/about.scss */
.itemAbout {
  padding: 4px;
  border: solid 1px #ddd;
  margin-right: 20px;
  margin-top: 20px;
  height: 340px;
  background: #fff;
  float: left;
  padding: 13px;
  text-align: center;
  border-radius: 4px;
}
/* line 12, ../sass/about.scss */
.itemAbout a {
  text-decoration: none;
  color: #333;
}
/* line 15, ../sass/about.scss */
.itemAbout a:hover {
  text-decoration: none;
}
/* line 19, ../sass/about.scss */
.itemAbout img {
  border: 0;
}
/* line 22, ../sass/about.scss */
.itemAbout h2 {
  padding: 10px 0;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
/* line 31, ../sass/about.scss */
.itemAbout p {
  margin-bottom: 10px;
}

/*  文本详细 */
/* line 3, ../sass/article.scss */
.div-reader-title {
  width: 100%;
  height: 70px;
  line-height: 60px;
  color: #A52A9B;
  font-size: 30px;
  background: #fff;
  padding: 10px 30px 0 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}

/* line 19, ../sass/article.scss */
p.p-reader-title {
  display: block;
  float: left;
}

/* line 23, ../sass/article.scss */
a.a-reader-prev, a.a-reader-next {
  height: 20px;
  width: 80px;
  text-align: center;
  line-height: 20px;
  color: #6DAF45;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  float: right;
  cursor: auto;
}

/* line 43, ../sass/article.scss */
.div-reader-text {
  width: 100%;
  color: #3D3238;
  font-size: 20px;
  background: #fff;
  padding: 20px 30px 30px 30px;
}

/* line 50, ../sass/article.scss */
#prettyprint li {
  list-style: inherit;
}

/* line 53, ../sass/article.scss */
#reader-right #prettyprint ol, ul, dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  padding: 0;
}

/* line 60, ../sass/article.scss */
#reader-right {
  /* 富文本*/
}
/* line 61, ../sass/article.scss */
#reader-right ol, #reader-right ul {
  list-style-type: decimal-leading-zero;
}
/* line 65, ../sass/article.scss */
#reader-right .cke_editable {
  font-size: 13px;
  line-height: 1.6;
}
/* line 69, ../sass/article.scss */
#reader-right blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 2px 0 0 20px;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #ccc;
}
/* line 76, ../sass/article.scss */
#reader-right .cke_contents_ltr blockquote {
  padding-left: 20px;
  padding-right: 8px;
  border-left-width: 5px;
}
/* line 87, ../sass/article.scss */
#reader-right .cke_contents_rtl blockquote {
  padding-left: 8px;
  padding-right: 20px;
  border-right-width: 5px;
}
/* line 98, ../sass/article.scss */
#reader-right a {
  color: #0782C1;
}
/* line 100, ../sass/article.scss */
#reader-right a > img {
  padding: 1px;
  margin: 1px;
  border: none;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #0782C1;
}
/* line 111, ../sass/article.scss */
#reader-right ol, #reader-right ul, #reader-right dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  /*  padding: 0 40px;*/
}
/* line 119, ../sass/article.scss */
#reader-right h1, #reader-right h2, #reader-right h3, #reader-right h4, #reader-right h5, #reader-right h6 {
  font-weight: normal;
  line-height: 1.2;
}
/* line 125, ../sass/article.scss */
#reader-right hr {
  border: 0px;
  border-top-width: 0 0 0 5px;
  border-top-style: solid;
  border-top-color: #ccc;
}
/* line 133, ../sass/article.scss */
#reader-right img.right {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  float: right;
  margin-left: 15px;
  padding: 5px;
}
/* line 141, ../sass/article.scss */
#reader-right img.left {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  float: left;
  margin-right: 15px;
  padding: 5px;
}
/* line 149, ../sass/article.scss */
#reader-right pre {
  white-space: pre-wrap;
  /* CSS 2.1 */
  word-wrap: break-word;
  /* IE7 */
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  -ms-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
/* line 154, ../sass/article.scss */
#reader-right .marker {
  background-color: Yellow;
}
/* line 157, ../sass/article.scss */
#reader-right span[lang] {
  font-style: italic;
}
/* line 160, ../sass/article.scss */
#reader-right figure {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
}
/* line 170, ../sass/article.scss */
#reader-right figure > figcaption {
  text-align: center;
  display: block;
  /* For IE8 */
}

/*===footer.css===*/
/* line 4, ../sass/footer.scss */
footer {
  margin-top: 40px;
}

/* line 7, ../sass/footer.scss */
#gotop {
  background: url(../../img/backup.png);
  position: fixed;
  z-index: 93;
  right: 30px;
  cursor: pointer;
  width: 33px;
  height: 33px;
  bottom: 50px;
}

/* line 1, ../sass/po.scss */
.poContents {
  margin-top: 30px;
}
/* line 3, ../sass/po.scss */
.poContents .poName {
  color: #fff;
  font-size: 100px;
  width: 100%;
  height: 300px;
  line-height: 300px;
  text-align: center;
}
/* line 11, ../sass/po.scss */
.poContents .poHeader {
  height: 80px;
  line-height: 80px;
  width: 100%;
  float: left;
  border: 5px solid #934642;
  background: #154673;
  border-radius: 5px;
  text-align: center;
}
/* line 21, ../sass/po.scss */
.poContents .poDeleteBox {
  width: 100%;
  float: left;
  background: #fff;
  border: 5px solid #459846;
  border-radius: 5px;
}
/* line 27, ../sass/po.scss */
.poContents .poDeleteBox table {
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/po.scss */
.poContents .poDeleteBox table tr {
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/po.scss */
.poContents .poDeleteBox table th {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 39, ../sass/po.scss */
.poContents .poDeleteBox table td {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 43, ../sass/po.scss */
.poContents .poDeleteBox table td a.delImg {
  background: url(../../img/po/del.gif);
  color: #9d9c9a;
  font-size: 10px;
  text-decoration: none;
  padding: 0 0 0 14px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 54, ../sass/po.scss */
.poContents .poAddBox {
  width: 20%;
  float: left;
  background: #fff;
  border: 5px solid #459846;
  border-radius: 5px;
}
/* line 60, ../sass/po.scss */
.poContents .poAddBox table {
  margin: 0;
  padding: 0;
}
/* line 63, ../sass/po.scss */
.poContents .poAddBox table tr {
  margin: 0;
  padding: 0;
}
/* line 69, ../sass/po.scss */
.poContents .poReviseBox {
  width: 100%;
  float: left;
  background: #fff;
  border: 5px solid #459846;
  border-radius: 5px;
}
/* line 75, ../sass/po.scss */
.poContents .poReviseBox table {
  margin: 0;
  padding: 0;
}
/* line 78, ../sass/po.scss */
.poContents .poReviseBox table tr {
  margin: 0;
  padding: 0;
}
/* line 82, ../sass/po.scss */
.poContents .poReviseBox table th {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 87, ../sass/po.scss */
.poContents .poReviseBox table td {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 91, ../sass/po.scss */
.poContents .poReviseBox table td a.editImg {
  background: url(../../img/po/edit.gif);
  color: #9d9c9a;
  font-size: 10px;
  text-decoration: none;
  padding: 0 0 0 14px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 102, ../sass/po.scss */
.poContents .poNav {
  height: 80px;
  line-height: 80px;
  width: 100%;
  float: left;
  border: 5px solid #647863;
  background: #652347;
  border-radius: 5px;
  text-align: center;
}
/* line 112, ../sass/po.scss */
.poContents .poTextarea {
  width: 80%;
  float: left;
  border: 5px solid #564975;
  background: #564975;
  border-radius: 5px;
}

/* line 120, ../sass/po.scss */
.deleteProseTh20 {
  width: 20%;
  display: block;
  float: left;
}
/* line 124, ../sass/po.scss */
.deleteProseTh20 p {
  margin: 0;
  padding: 0;
}

/* line 129, ../sass/po.scss */
.deleteCatalogueTh10 {
  width: 10%;
  display: block;
  float: left;
}
/* line 133, ../sass/po.scss */
.deleteCatalogueTh10 p {
  margin: 0;
  padding: 0;
}

/* line 138, ../sass/po.scss */
.deleteCatalogueTh20 {
  width: 20%;
  display: block;
  float: left;
}
/* line 142, ../sass/po.scss */
.deleteCatalogueTh20 p {
  margin: 0;
  padding: 0;
}

/* line 147, ../sass/po.scss */
.deleteCatalogueTh50 {
  width: 50%;
  display: block;
  float: left;
}
/* line 151, ../sass/po.scss */
.deleteCatalogueTh50 p {
  margin: 0;
  padding: 0;
}

/* line 156, ../sass/po.scss */
.deleteBlogTh16 {
  width: 16%;
  display: block;
  float: left;
}
/* line 160, ../sass/po.scss */
.deleteBlogTh16 p {
  margin: 0;
  padding: 0;
}
