/* line 1, ../sass/domain.scss */
#droptabs {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 6, ../sass/domain.scss */
#droptabs a {
  color: #fff;
}
/* line 8, ../sass/domain.scss */
#droptabs a:hover {
  color: #333;
}
/* line 13, ../sass/domain.scss */
#droptabs .active a {
  color: #333;
}
