#contion{
	width:1200px;
	/*height:600px;*/
	
	margin:0 auto 0 auto;
	z-index:1010;padding: 30px 20px 30px 20px;
}
/* sidebar left */
 #contents {
	float: right;
	padding: 0;
	width: auto;background: #fff;
	float: none;
	padding:30px 20px 30px 20px;
}


