@charset "UTF-8";
/* line 19, ../sass/definition.scss */
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/*===header.css===*/
/* line 3, ../sass/header.scss */
#contents {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* line 9, ../sass/header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  color: #fff;
  -webkit-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* line 19, ../sass/header.scss */
.left-close {
  width: 26px;
}
/* line 21, ../sass/header.scss */
.left-close .header-btn {
  background-image: url("../../img/sidebar_icon.png");
}
/* line 24, ../sass/header.scss */
.left-close .header-nav, .left-close .header-tags, .left-close .header-icon, .left-close .header-skin, .left-close .header-login {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

/* line 31, ../sass/header.scss */
.left-open {
  width: 70%;
}
/* line 33, ../sass/header.scss */
.left-open .header-btn {
  background-image: url("../../img/sidebar_icon.png");
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 39, ../sass/header.scss */
.header-btn {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 85px;
  top: 312px;
  right: 0;
  margin-top: -43px;
  background: top left;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  zoom: 1;
}
/* line 51, ../sass/header.scss */
.header-btn:hover {
  background: url("../../img/sidebar_icon.png") no-repeat 0px -85.5px;
}

/* line 55, ../sass/header.scss */
.header-line {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 26px;
  z-index: 50;
  cursor: auto;
}

/*===第二个header，nav导航菜单部分===*/
/* line 65, ../sass/header.scss */
.header-nav {
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
}
/* line 69, ../sass/header.scss */
.header-nav span {
  color: #fff;
  vertical-align: baseline;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: 14px;
  font-weight: 400;
}
/* line 75, ../sass/header.scss */
.header-nav span:hover {
  border-bottom: 3px solid #669900;
}
/* line 79, ../sass/header.scss */
.header-nav li {
  text-align: center;
}

/*=== 头部标签部分===*/
/* line 114, ../sass/header.scss */
.tag-box {
  display: block;
  overflow: hidden;
  list-style: disc;
  margin: 0 0 9px 25px;
  font-size: 13px;
  line-height: 18px;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-before: 1em;
  margin-after: 1em;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 0px;
  -o-margin-before: 1em;
  -o-margin-after: 1em;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-start: 0px;
  -ms-margin-before: 1em;
  -ms-margin-after: 1em;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-start: 0px;
  -moz-margin-before: 1em;
  -moz-margin-after: 1em;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 124, ../sass/header.scss */
.tag-box .tag-link {
  float: left;
  margin: 0 10px 6px 0;
  line-height: 1.8;
  display: list-item;
  text-align: -webkit-match-parent;
}
/* line 130, ../sass/header.scss */
.tag-box .tag-link a {
  display: inline-block;
  text-decoration: none;
  font: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace 12px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  margin: 5px 0 5px 8px;
  padding: 0 5px 0 12px;
  position: relative;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 141, ../sass/header.scss */
.tag-box .tag-link a:-webkit-any-link {
  cursor: auto;
}
/* line 144, ../sass/header.scss */
.tag-box .tag-link a:hover {
  opacity: 0.8;
  color: #fff;
}
/* line 148, ../sass/header.scss */
.tag-box .tag-link a:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: -18px;
  border: 9px solid transparent;
  border-right-color: #fff;
}
/* line 158, ../sass/header.scss */
.tag-box .tag-link a:after {
  content: " ";
  width: 4px;
  height: 4px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 7px;
  left: 2px;
}
/* line 170, ../sass/header.scss */
.tag-box .tag-link span {
  vertical-align: super;
  font-size: 0.8em;
  color: #fff;
  padding-left: 3px;
  padding-right: 3px;
  -webkit-box-shadow: 0em 0em 0em 0em #ffffff;
  -moz-box-shadow: 0em 0em 0em 0em #ffffff;
  -ms-box-shadow: 0em 0em 0em 0em #ffffff;
  -o-box-shadow: 0em 0em 0em 0em #ffffff;
  box-shadow: 0em 0em 0em 0em #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/*=== icon===*/
/* line 183, ../sass/header.scss */
.header-icon .icon-box {
  display: block;
  overflow: hidden;
}
/* line 186, ../sass/header.scss */
.header-icon .icon-box .icon-link {
  float: left;
}
/* line 188, ../sass/header.scss */
.header-icon .icon-box .icon-link a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 a;
  margin: 0 8px;
  text-decoration: none;
  border: 1px solid #fff;
  width: 28px;
  height: 28px;
}
/* line 199, ../sass/header.scss */
.header-icon .icon-box .icon-link a:hover {
  border: 1px solid #323131;
}

/*=== gb===*/
/* line 208, ../sass/header.scss */
.header-skin .skin-box {
  display: block;
  overflow: hidden;
}
/* line 211, ../sass/header.scss */
.header-skin .skin-box .skin-link {
  float: left;
  padding-top: 15px;
}
/* line 214, ../sass/header.scss */
.header-skin .skin-box .skin-link a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 a;
  margin: 0 8px;
  text-decoration: none;
  border: 1px solid #fff;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
/* line 229, ../sass/header.scss */
.header-skin #header-skin-leave {
  background: url(../../img/icon/do.png) -4px -593px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* line 233, ../sass/header.scss */
.header-skin p {
  text-align: center;
}

/*=== login===*/
/* line 239, ../sass/header.scss */
.login {
  background-position: 0 -590px;
}

/* line 242, ../sass/header.scss */
.conrol_btn {
  float: left;
  z-index: 11;
  background: url(../../img/icon/do.png) 0 -590px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  text-indent: 9999999px;
}

/* line 251, ../sass/header.scss */
.header-login {
  display: none;
  position: absolute;
  right: 40px;
  top: 100px;
  z-index: 11;
  width: 18%;
  height: 26%;
  min-width: 230px;
  min-height: 200px;
}

/* line 262, ../sass/header.scss */
.login-box {
  width: 100%;
  position: absolute;
  height: 100%;
}
/* line 266, ../sass/header.scss */
.login-box .close {
  background: url(../../img/icon/do.png) no-repeat 0 -75px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
}
/* line 275, ../sass/header.scss */
.login-box .cont {
  width: 100%;
  padding: 0px 0 8px 0;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #9fa6ad;
  border-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 4px;
  height: 100%;
}
/* line 284, ../sass/header.scss */
.login-box .cont p {
  height: 20%;
  color: #fff;
  clear: both;
  width: 90%;
  margin: 0px auto 5% auto;
}
/* line 290, ../sass/header.scss */
.login-box .cont p .user {
  background: url(../../img/icon/user.png) no-repeat center center;
  height: 100%;
  width: 15%;
}
/* line 295, ../sass/header.scss */
.login-box .cont p i {
  background: #b2b2b2;
  width: 33px;
  height: 33px;
  float: left;
  background: url(../../img/icon/do.png) no-repeat #b2b2b2;
}
/* line 302, ../sass/header.scss */
.login-box .cont p .txt {
  font-size: 12px;
  text-indent: 12px;
  color: #8c8c8c;
  height: 32px;
  padding: 0px;
  margin: 0px;
  width: 167px;
  border: 1px solid #b2b2b2;
  float: left;
  height: 100%;
  width: 84%;
  border: none;
  outline: medium;
}
/* line 317, ../sass/header.scss */
.login-box .cont p .pw {
  background: url(../../img/icon/pass.png) no-repeat center center #b2b2b2;
  height: 100%;
  width: 15%;
}
/* line 322, ../sass/header.scss */
.login-box .cont p .btn {
  background: #ff6908;
  height: 100%;
  width: 30%;
  border: 0px;
  color: #fefefe;
  font-size: 18px;
  font-family: 微软雅黑,"Microsoft YaHei";
  border-radius: 3px;
  float: right;
}
/* line 334, ../sass/header.scss */
.login-box .cont p.on .user {
  background-color: #25c7f2;
}
/* line 337, ../sass/header.scss */
.login-box .cont h3 {
  text-align: center;
  color: #fff;
  margin: 5px 0;
  font-weight: normal;
  font-size: 12px;
}
/* line 345, ../sass/header.scss */
.login-box .logintag {
  height: 19%;
  margin: 0;
  margin-bottom: 5%;
  position: relative;
  top: 0;
  font-size: 14px;
}
/* line 352, ../sass/header.scss */
.login-box .logintag li {
  float: left;
  width: 50%;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid #9fa6ad;
  border-left: 1px solid #9fa6ad;
  border-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  right: 0;
  top: 0;
}
/* line 366, ../sass/header.scss */
.login-box .logintag li span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 100%;
  text-align: center;
}
/* line 374, ../sass/header.scss */
.login-box .logintag .on {
  background: none;
  border-bottom: 0;
}
/* line 379, ../sass/header.scss */
.login-box .remeber {
  padding-right: 15px;
  color: #adafb1;
  margin-top: 7px;
}
/* line 384, ../sass/header.scss */
.login-box .codeP {
  text-align: center;
  margin-top: -6px;
  position: relative;
  height: 65%;
  clear: both;
}

/* line 393, ../sass/header.scss */
input[type="checkbox" i] {
  margin: 3px 3px 3px 4px;
}

/* line 396, ../sass/header.scss */
user agent stylesheetinput[type="checkbox" i] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
}

/* line 400, ../sass/header.scss */
user agent stylesheetinput[type="radio" i], input[type="checkbox" i] {
  margin: 3px 0.5ex;
  padding: initial;
  background-color: initial;
  border: initial;
}

/* line 406, ../sass/header.scss */
user agent stylesheetinput, input[type="password" i], input[type="search" i] {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

/* line 420, ../sass/header.scss */
user agent stylesheetinput, textarea, keygen, select, button {
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

/* line 432, ../sass/header.scss */
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}
