*{
	margin:0;
	padding:0;
	}
body{
	background-color: #eee;z-index:-3;
	}
img.mb_bgimage{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	opacity:0.8;
	z-index:-2;
}
.mb_overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:transparent url(img/pattern.png) repeat top left;
	z-index:-1;
}
/*===第一个header，滚轴向下滚动则隐藏===*/
#header-top{
	/*height:60px;*/
	z-index:-43;
	/*==background:#2d2d2d;=*/
	background:#1bbc9b;
	}
.headerlogo{
	height:62px;
	width:50px;
	border:0;
	background: url(img/benxiaolang.png);
	position: absolute;
	top:0;
	left:0;
}
div.header-auto{
	width:1200px;
	margin:0 auto 0 auto;
	}
#header-top div.header-auto div.div-text{
	height:60px;
	border-left: 1px solid #3d3d3d;
	border-right: 1px solid #3d3d3d;
	color: #fff;
	font: inherit;
	float:left;
	}
#header-top div.header-auto div.div-text-right{
	height:60px;
	border-left: 1px solid #3d3d3d;
	border-right: 1px solid #3d3d3d;
	color: #fff;
	font: inherit;
	float:right;
	padding-right:20px;
	padding-left:20px;
	}
#header-top div.header-auto div.div-text-right a.a-text-right{
	margin-left:10px;	
	}
#header-top div.header-auto div.div-text,div.div-text-right a.a-text-right>span.span-all{
	line-height:60px;
	display: inline-block;
	zoom:1;
	}
#header-top div.header-auto div.div-text span.span-text{
	margin:0 20px 0 20px;
		z-index:3;
	}
#header-top div.header-auto div.div-text-right span.span-text-right{
	margin:0 10px 0 10px;
		z-index:3;
	}
/*===第二个header，滚轴向下滚动则隐藏===*/
#header-back{
	/* height:160px; */
	padding:15px 15px 30px 15px;
	overflow: hidden;
	-webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	}
div.header-back-border{
	/* height:80px; */
	padding:0 0 20px 0;
	z-index:3;
	border-bottom: 1px solid #e5e5e5;
	-webkit-transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;box-sizing: border-box;position: relative;
	}
/*====滚轴向下滚动则隐藏===*/
.sticky {
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	width: 100%;
	opacity: 0.9;
	z-index: 93;
	}
header.sticky  div.header-back-border{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border:none;
	}
header.sticky  div.header-back-border h4{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
header.sticky  div.header-back-border div.div-title div.bannerimg div.cellcontent{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
header.sticky   div.div-title  div.bannerimg{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	position:none;
	}
header.sticky   div.div-title  div.bannerimg div.cellcontent{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	position:fixed;
	top:-100px;
	left:-100px;
	display:inline-block;
	margin:0;
	padding:0;
	border:none;
	}
.sticky  div.header-back-border #div-title-1{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
.sticky  div.header-back-border #div-title-2{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
.sticky  div.header-back-border #div-title-3{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
/* .sticky  div.header-back-border #div-title-1 div.bannerimg img {
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
.sticky  div.header-back-border #div-title-2 div.bannerimg img {
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
.sticky  div.header-back-border #div-title-3 div.bannerimg img {
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	} */
/*===滚轴向下滚动则隐藏===*/
#header-back > div.div-title{
	width:400px;
	overflow: hidden;
	/* margin:0 10px 0 10px; */
	}
#header-back  div.div-title-1{
	float:left;
	}
#header-back  div.div-title-2{
	float:left;
  /*   margin-left:5px; */
	}
#header-back  div.div-title-3{
	float:right;
	}
 div.div-title div.bannerimg {
	display: block;
	position: relative;
	width:400px;
	height:80px;
	}
#header-back div.div-title div.bannerimg  a, a:visited {
	cursor: auto;
	text-decoration: none;
	}
 div.div-title div.bannerimg div.cellcontent {
	color: #fff;
	position: absolute;
	width:360px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 20px 10px 20px 10px;
	padding: 10px;
	border: 1px solid transparent;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(0,0,0,0);
	}
#header-back div.div-title div.bannerimg div.cellcontent  h4{
	text-align:center;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	}
#header-back div.div-title div.bannerimg div.cellcontent:hover {
	border: 1px solid #fff;
	}
/* #header-back div.div-title div.bannerimg  img {
	max-width: 400px;
	height: 80px;
	border:none;
	} */
/*===第二个header，nav部分===*/
#header-back nav.header-nav{
	width:1200px;
	height:60px;
	margin:10px auto 0 auto;
	}
#header-back nav.header-nav div.header-div-nav{
	padding:20px 0 0 0px;
	height:40px;
	/* background:#fff; */
	}
#header-back nav.header-nav div.header-div-nav li.header-li-nav{
	display:block;
	float:left;
	margin:0 0 0 60px;
	}
#header-back nav.header-nav div.header-div-nav span.header-span-nav{
	color:#1bbc9b;
/* 	font: inherit; */
	vertical-align: baseline;
	font-family: Arial, Helvetica, sans-serif;
	}
#header-back nav.header-nav div.header-div-nav span.header-span-nav:hover{
	border-bottom: 3px solid #669900;
	}
/*===第二个header，nav部分===*/
a.v-fork-me {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	color: #0088cc;
	text-decoration: none;
	z-index:94;
	}
img.img-fork-me {
	max-width: 100%;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
	}
/*=== 头部标签部分===*/
div.contion-div-tags{
	padding-top:2px;
	padding-bottom:2px;
	}
.tag_box {
	display: block;
	overflow: hidden;
	list-style: disc;
	margin: 0 0 9px 25px;
	font-size: 13px;
	line-height: 18px;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
.tag_box li {
	float: left;
	margin: 0 10px 6px 0;
	line-height: 1.8;
	display: list-item;
	text-align: -webkit-match-parent;
	}
#contion .tag_box a {
	display: block;
	float: left;
	padding: 2px 8px;
	background: #eee;
	color: #005F6B;
	border-radius: 3px;
	}
a:-webkit-any-link {
	color: -webkit-link;
	cursor: auto;
	}
.tag_box a span {
	vertical-align: super;
	font-size: 0.8em;
	}


















