/*定义背景*/
body{
	background: url(../../img/bg.jpg);
}
#header_left_box {
	background: url(../../img/bg.jpg);
}
/*定义背景结束*/
#contion{
	width:1200px;
	margin:0 auto 0 auto;
}













