@charset "UTF-8";
/* line 19, ../sass/definition.scss */
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

/* line 2, ../sass/about/about.scss */
.itemAbout {
  padding: 4px;
  border: solid 1px #ddd;
  margin-right: 20px;
  margin-top: 20px;
  height: 340px;
  background: #fff;
  float: left;
  padding: 13px;
  text-align: center;
  border-radius: 4px; }
  /* line 13, ../sass/about/about.scss */
  .itemAbout a {
    text-decoration: none;
    color: #333; }
    /* line 16, ../sass/about/about.scss */
    .itemAbout a:hover {
      text-decoration: none; }
  /* line 20, ../sass/about/about.scss */
  .itemAbout img {
    border: 0; }
  /* line 23, ../sass/about/about.scss */
  .itemAbout h2 {
    padding: 10px 0;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit; }
  /* line 32, ../sass/about/about.scss */
  .itemAbout p {
    margin-bottom: 10px; }

/* line 2, ../sass/about/catalogue.scss */
aside dl dd a {
  text-decoration: none; }

/* aside dl{
	background: #EA5124;
}

aside dt{
	background: #fff;
	text-align: center;
} */
/* line 2, ../sass/about/domain.scss */
#droptabs {
  padding-left: 15px;
  padding-right: 15px; }
  /* line 7, ../sass/about/domain.scss */
  #droptabs a {
    color: #fff; }
    /* line 9, ../sass/about/domain.scss */
    #droptabs a:hover {
      color: #333; }
  /* line 14, ../sass/about/domain.scss */
  #droptabs .active a {
    color: #333; }

/* line 6, ../sass/life/prose.scss */
.closeProse h2 i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
/* line 9, ../sass/life/prose.scss */
.closeProse .list {
  opacity: 0;
  height: 0 !important; }

/* line 14, ../sass/life/prose.scss */
.prose-tree {
  position: relative;
  width: 960px;
  margin: 0 auto; }
  /* line 18, ../sass/life/prose.scss */
  .prose-tree h2 {
    height: 40px;
    width: 170px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 40px;
    text-align: right; }
    /* line 25, ../sass/life/prose.scss */
    .prose-tree h2 a {
      color: #58a6fb;
      text-decoration: none; }
      /* line 28, ../sass/life/prose.scss */
      .prose-tree h2 a i {
        display: block;
        position: relative;
        height: 0;
        width: 0;
        left: 190px;
        top: -20px;
        border-width: 6px;
        border-style: solid;
        border-color: #59a7fb transparent transparent transparent;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        -webkit-transform-origin: 6px 3px;
        -moz-transform-origin: 6px 3px;
        -ms-transform-origin: 6px 3px;
        -o-transform-origin: 6px 3px;
        transform-origin: 6px 3px; }
  /* line 42, ../sass/life/prose.scss */
  .prose-tree .list {
    margin: 10px 0;
    overflow: hidden;
    -webkit-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -moz-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -ms-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    -o-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
    bottom: 0; }
    /* line 47, ../sass/life/prose.scss */
    .prose-tree .list .cls {
      padding: 30px 0;
      color: #a1a4b8;
      zoom: 1; }
      /* line 51, ../sass/life/prose.scss */
      .prose-tree .list .cls:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      /* line 59, ../sass/life/prose.scss */
      .prose-tree .list .cls .version, .prose-tree .list .cls .date {
        float: left;
        display: block;
        clear: left;
        width: 200px;
        line-height: 24px;
        text-align: right; }
      /* line 67, ../sass/life/prose.scss */
      .prose-tree .list .cls .date {
        font-size: 18px;
        line-height: 32px;
        color: #bec1d5; }
      /* line 73, ../sass/life/prose.scss */
      .prose-tree .list .cls .more, .prose-tree .list .cls .intro {
        float: left;
        display: block;
        width: 650px;
        margin-left: 100px;
        line-height: 24px; }
      /* line 80, ../sass/life/prose.scss */
      .prose-tree .list .cls .intro {
        font-size: 18px;
        line-height: 32px;
        color: #63d029; }

/* line 2, ../sass/menu/footer.scss */
#gotop {
  background: url(../../img/backup.png);
  position: fixed;
  z-index: 93;
  right: 30px;
  cursor: pointer;
  width: 33px;
  height: 33px;
  bottom: 50px; }

/* line 12, ../sass/menu/footer.scss */
.site-footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #FFF;
  border-top: 1px solid #eee; }
  /* line 21, ../sass/menu/footer.scss */
  .site-footer .right {
    float: right; }
  /* line 24, ../sass/menu/footer.scss */
  .site-footer .site-footer-links {
    margin: 0;
    list-style: none; }
    /* line 27, ../sass/menu/footer.scss */
    .site-footer .site-footer-links li {
      display: inline-block;
      line-height: 16px; }
    /* line 31, ../sass/menu/footer.scss */
    .site-footer .site-footer-links a {
      color: #4183c4;
      text-decoration: none;
      background: transparent; }

/* line 2, ../sass/menu/header.scss */
.headerWrapper {
  width: 100%;
  /* position: fixed; */
  z-index: 99999; }

/* line 8, ../sass/menu/header.scss */
.headerDiv {
  padding-top: 30px;
  height: 100px; }

/* line 12, ../sass/menu/header.scss */
.logo {
  float: left;
  width: 400px;
  height: 100%; }

/* line 16, ../sass/menu/header.scss */
.logo span {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia,"Times New Roman",Times,serif; }

/* line 21, ../sass/menu/header.scss */
.logo span i {
  font-size: 10px;
  font-weight: normal; }

/* line 25, ../sass/menu/header.scss */
.search {
  float: right;
  border: #cccccc 1px solid;
  width: 250px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 26px; }

/* line 34, ../sass/menu/header.scss */
.searchIn {
  padding-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 220px;
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  border: none;
  background: none; }

/* line 46, ../sass/menu/header.scss */
.submitSearch {
  width: 16px;
  height: 16px;
  background: url(http://docs.alibabagroup.com/assets2/images/cn/global/search_btn.png) top no-repeat;
  text-indent: -9999px;
  border: none;
  vertical-align: top;
  margin-top: 5px; }

/* line 55, ../sass/menu/header.scss */
.lanageWrapper {
  width: 60px;
  float: right;
  position: relative;
  margin-top: 10px;
  color: #fff; }
  /* line 61, ../sass/menu/header.scss */
  .lanageWrapper a {
    color: #fff; }
    /* line 63, ../sass/menu/header.scss */
    .lanageWrapper a:hover {
      color: #fff; }

/* line 68, ../sass/menu/header.scss */
.loginWrapper {
  width: 60px;
  float: right;
  position: relative;
  margin-top: 10px;
  color: #fff; }

/* line 3, ../sass/menu/icon.scss */
.header-icon .icon-box {
  display: block;
  overflow: hidden; }
  /* line 6, ../sass/menu/icon.scss */
  .header-icon .icon-box .icon-link {
    float: left; }
    /* line 8, ../sass/menu/icon.scss */
    .header-icon .icon-box .icon-link a {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 a;
      margin: 0 8px;
      text-decoration: none;
      border: 1px solid #fff;
      width: 28px;
      height: 28px; }
      /* line 19, ../sass/menu/icon.scss */
      .header-icon .icon-box .icon-link a:hover {
        border: 1px solid #323131; }

/* line 2, ../sass/menu/login.scss */
#header-login-bg {
  z-index: 66666;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #262820;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

/* line 10, ../sass/menu/login.scss */
.loginCursor {
  cursor: pointer; }

/* line 13, ../sass/menu/login.scss */
.header-login {
  display: none;
  position: absolute;
  left: 40%;
  top: 35%;
  z-index: 99999;
  width: 18%;
  height: 26%;
  min-width: 230px;
  min-height: 200px; }

/* line 24, ../sass/menu/login.scss */
.login-box {
  width: 100%;
  position: absolute;
  height: 100%; }
  /* line 28, ../sass/menu/login.scss */
  .login-box .close {
    background: url(../../img/icon/do.png) no-repeat 0 -75px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer; }
  /* line 37, ../sass/menu/login.scss */
  .login-box .cont {
    width: 100%;
    padding: 0px 0 8px 0;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #9fa6ad;
    border-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 4px;
    height: 100%; }
    /* line 46, ../sass/menu/login.scss */
    .login-box .cont p {
      height: 20%;
      color: #fff;
      clear: both;
      width: 90%;
      margin: 0px auto 5% auto; }
      /* line 52, ../sass/menu/login.scss */
      .login-box .cont p .user {
        background: url(../../img/icon/user.png) no-repeat center center;
        height: 100%;
        width: 15%; }
      /* line 57, ../sass/menu/login.scss */
      .login-box .cont p i {
        background: #b2b2b2;
        width: 33px;
        height: 33px;
        float: left;
        background: url(../../img/icon/do.png) no-repeat #b2b2b2; }
      /* line 64, ../sass/menu/login.scss */
      .login-box .cont p .txt {
        font-size: 12px;
        text-indent: 12px;
        color: #8c8c8c;
        height: 32px;
        padding: 0px;
        margin: 0px;
        width: 167px;
        border: 1px solid #b2b2b2;
        float: left;
        height: 100%;
        width: 84%;
        border: none;
        outline: medium; }
      /* line 79, ../sass/menu/login.scss */
      .login-box .cont p .pw {
        background: url(../../img/icon/pass.png) no-repeat center center #b2b2b2;
        height: 100%;
        width: 15%; }
      /* line 84, ../sass/menu/login.scss */
      .login-box .cont p .btn {
        background: #ff6908;
        height: 100%;
        width: 30%;
        border: 0px;
        color: #fefefe;
        font-size: 18px;
        font-family: 微软雅黑,"Microsoft YaHei";
        border-radius: 3px;
        float: right; }
    /* line 96, ../sass/menu/login.scss */
    .login-box .cont p.on .user {
      background-color: #25c7f2; }
    /* line 99, ../sass/menu/login.scss */
    .login-box .cont h3 {
      text-align: center;
      color: #fff;
      margin: 5px 0;
      font-weight: normal;
      font-size: 12px; }
  /* line 107, ../sass/menu/login.scss */
  .login-box .logintag {
    height: 19%;
    margin: 0;
    margin-bottom: 5%;
    position: relative;
    top: 0;
    font-size: 14px; }
    /* line 114, ../sass/menu/login.scss */
    .login-box .logintag li {
      list-style-type: none;
      float: left;
      width: 50%;
      height: 100%;
      position: absolute;
      border-bottom: 1px solid #9fa6ad;
      border-left: 1px solid #9fa6ad;
      border-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      margin-bottom: 5%;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      right: 0;
      top: 0; }
      /* line 129, ../sass/menu/login.scss */
      .login-box .logintag li span {
        position: absolute;
        top: 50%;
        margin-top: -8px;
        width: 100%;
        text-align: center; }
    /* line 137, ../sass/menu/login.scss */
    .login-box .logintag .on {
      background: none;
      border-bottom: 0; }
  /* line 142, ../sass/menu/login.scss */
  .login-box .remeber {
    padding-right: 15px;
    color: #adafb1;
    margin-top: 7px; }
  /* line 147, ../sass/menu/login.scss */
  .login-box .codeP {
    text-align: center;
    margin-top: -6px;
    position: relative;
    height: 65%;
    clear: both; }

/* line 156, ../sass/menu/login.scss */
input[type="checkbox" i] {
  margin: 3px 3px 3px 4px; }

/* line 159, ../sass/menu/login.scss */
user agent stylesheetinput[type="checkbox" i] {
  -webkit-appearance: checkbox;
  box-sizing: border-box; }

/* line 163, ../sass/menu/login.scss */
user agent stylesheetinput[type="radio" i], input[type="checkbox" i] {
  margin: 3px 0.5ex;
  padding: initial;
  background-color: initial;
  border: initial; }

/* line 169, ../sass/menu/login.scss */
user agent stylesheetinput, input[type="password" i], input[type="search" i] {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto; }

/* line 183, ../sass/menu/login.scss */
user agent stylesheetinput, textarea, keygen, select, button {
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start; }

/* line 195, ../sass/menu/login.scss */
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb; }

/* line 2, ../sass/menu/menu.scss */
.MenuStatic {
  position: absolute;
  top: 100px;
  left: 0; }

/* line 7, ../sass/menu/menu.scss */
.MenuFixed {
  position: fixed;
  top: -1px;
  left: 0; }

/* line 12, ../sass/menu/menu.scss */
.MenuWrapper {
  background-color: #fff;
  color: #ff6600;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  height: 68px;
  display: block !important;
  z-index: 9999;
  font-weight: 400; }

/* line 23, ../sass/menu/menu.scss */
.ulMenu {
  text-transform: uppercase;
  width: 960px;
  height: 68px;
  margin: 0;
  padding: 0; }

/* line 30, ../sass/menu/menu.scss */
.ulMenu > li {
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  color: #fff;
  float: left;
  padding: 0 88px 0 0; }

/* line 39, ../sass/menu/menu.scss */
.ulMenu > li span {
  display: inline-block;
  color: #ff6600;
  padding: 28px 10px 20px 55px; }

/* line 43, ../sass/menu/menu.scss */
.submenuWrapper {
  position: absolute;
  cursor: auto;
  /* height: 172px; */
  width: 100%;
  left: 0px;
  top: 68px;
  z-index: 9999;
  display: none; }

/* line 52, ../sass/menu/menu.scss */
.submenuContainer {
  text-align: left;
  margin: auto;
  padding: 25px 0 0 117px; }

/* line 56, ../sass/menu/menu.scss */
.submenu {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin-right: 80px;
  line-height: 17px; }

/* line 62, ../sass/menu/menu.scss */
.submenu li {
  margin-bottom: 18px;
  display: block;
  float: left;
  padding: 28px 88px 20px 55px; }

/* line 67, ../sass/menu/menu.scss */
.submenu a {
  color: #fff;
  text-decoration: none;
  text-transform: none; }

/* line 72, ../sass/menu/menu.scss */
.bgColor li.liColorOne {
  background: #00a2ca;
  text-decoration: none;
  list-style-type: none; }

/* line 75, ../sass/menu/menu.scss */
.bgColor li.liColorTwo {
  background: #23e773;
  text-decoration: none;
  list-style-type: none; }

/* line 78, ../sass/menu/menu.scss */
.bgColor li.liColorThree {
  background: #ffc900;
  text-decoration: none;
  list-style-type: none; }

/* line 81, ../sass/menu/menu.scss */
.bgColor li.liColorFour {
  background: #00d3f1;
  text-decoration: none;
  list-style-type: none; }

/* line 84, ../sass/menu/menu.scss */
.bgColor li.liColorOne .submenuWrapper {
  background: #00a2ca; }

/* line 87, ../sass/menu/menu.scss */
.bgColor li.liColorTwo .submenuWrapper {
  background: #23e773; }

/* line 90, ../sass/menu/menu.scss */
.bgColor li.liColorThree .submenuWrapper {
  background: #ffc900; }

/* line 93, ../sass/menu/menu.scss */
.bgColor li.liColorFour .submenuWrapper {
  background: #00d3f1; }

/* line 96, ../sass/menu/menu.scss */
.ulMenu .selected span {
  color: #fff; }

/* line 99, ../sass/menu/menu.scss */
.carat {
  display: inline-block;
  margin-top: -2px;
  border: 4px solid transparent;
  border-top: 5px solid #ff6600; }

/* .caratOne{
	left: 148px;
top: 37px;
}
.caratTwo{
	left:  362px;
top: 37px;
}
.caratThree{
	left: 568px;
top: 37px;
}
.caratFour{
	left: 788px;
top: 37px;
} */
/* line 121, ../sass/menu/menu.scss */
li.liColorOne .caratOne {
  border-bottom: 5px solid #fff;
  border-top: 4px solid transparent;
  margin-top: -6px; }

/* line 124, ../sass/menu/menu.scss */
li.liColorTwo .caratTwo {
  border-bottom: 5px solid #fff;
  border-top: 4px solid transparent;
  margin-top: -6px; }

/* line 127, ../sass/menu/menu.scss */
li.liColorThree .caratThree {
  border-bottom: 5px solid #fff;
  border-top: 4px solid transparent;
  margin-top: -6px; }

/* line 130, ../sass/menu/menu.scss */
li.liColorFour .caratFour {
  border-bottom: 5px solid #fff;
  border-top: 4px solid transparent;
  margin-top: -6px; }

/* line 2, ../sass/menu/skin.scss */
.skinWrapper {
  width: 300px;
  float: right;
  margin: 0;
  padding: 0;
  position: relative; }
  /* line 8, ../sass/menu/skin.scss */
  .skinWrapper .skinBox {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    /* line 13, ../sass/menu/skin.scss */
    .skinWrapper .skinBox .skinLink {
      float: left;
      list-style: none; }
      /* line 16, ../sass/menu/skin.scss */
      .skinWrapper .skinBox .skinLink a {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        font: 0/0 a;
        margin: 0 8px;
        text-decoration: none;
        border: 1px solid #fff;
        width: 38px;
        height: 38px;
        cursor: pointer; }

/* line 2, ../sass/menu/wrapper.scss */
.wrapper {
  padding-top: 68px; }

/* line 5, ../sass/menu/wrapper.scss */
.wrapperNavOn {
  margin-top: 112px; }

/* line 8, ../sass/menu/wrapper.scss */
.wrapperNavOff {
  margin-top: 0; }

/* line 2, ../sass/note/assembly.scss */
.assemblyListPre::before {
  content: "$ "; }

/* line 5, ../sass/note/assembly.scss */
.assemblyListPre {
  font-size: 20px;
  padding: 0.4em 0;
  margin-top: 10px;
  border: none; }

/* line 2, ../sass/note/blog.scss */
.div-reader-title {
  width: 100%;
  height: 70px;
  line-height: 60px;
  color: #A52A9B;
  font-size: 30px;
  background: #fff;
  padding: 10px 30px 0 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999; }

/* line 18, ../sass/note/blog.scss */
p.p-reader-title {
  display: block;
  float: left; }

/* line 22, ../sass/note/blog.scss */
a.a-reader-prev, a.a-reader-next {
  height: 20px;
  width: 80px;
  text-align: center;
  line-height: 20px;
  color: #6DAF45;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  float: right;
  cursor: auto; }

/* line 42, ../sass/note/blog.scss */
.div-reader-text {
  width: 100%;
  color: #3D3238;
  font-size: 20px;
  background: #fff;
  padding: 20px 30px 30px 30px; }

/* line 49, ../sass/note/blog.scss */
#prettyprint li {
  list-style: inherit; }

/* line 52, ../sass/note/blog.scss */
#reader-right #prettyprint ol, ul, dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  padding: 0; }

/* line 59, ../sass/note/blog.scss */
#reader-right {
  /* 富文本*/ }
  /* line 60, ../sass/note/blog.scss */
  #reader-right ol, #reader-right ul {
    list-style-type: decimal-leading-zero; }
  /* line 64, ../sass/note/blog.scss */
  #reader-right .cke_editable {
    font-size: 13px;
    line-height: 1.6; }
  /* line 68, ../sass/note/blog.scss */
  #reader-right blockquote {
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0 0 20px;
    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: #ccc; }
  /* line 75, ../sass/note/blog.scss */
  #reader-right .cke_contents_ltr blockquote {
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px; }
  /* line 86, ../sass/note/blog.scss */
  #reader-right .cke_contents_rtl blockquote {
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px; }
  /* line 97, ../sass/note/blog.scss */
  #reader-right a {
    color: #0782C1; }
    /* line 99, ../sass/note/blog.scss */
    #reader-right a > img {
      padding: 1px;
      margin: 1px;
      border: none;
      outline-width: 1px;
      outline-style: solid;
      outline-color: #0782C1; }
  /* line 110, ../sass/note/blog.scss */
  #reader-right ol, #reader-right ul, #reader-right dl {
    /* IE7: reset rtl list margin. (#7334) */
    *margin-right: 0px;
    /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    /*  padding: 0 40px;*/ }
  /* line 118, ../sass/note/blog.scss */
  #reader-right h1, #reader-right h2, #reader-right h3, #reader-right h4, #reader-right h5, #reader-right h6 {
    font-weight: normal;
    line-height: 1.2; }
  /* line 124, ../sass/note/blog.scss */
  #reader-right hr {
    border: 0px;
    border-top-width: 0 0 0 5px;
    border-top-style: solid;
    border-top-color: #ccc; }
  /* line 132, ../sass/note/blog.scss */
  #reader-right img.right {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px; }
  /* line 140, ../sass/note/blog.scss */
  #reader-right img.left {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px; }
  /* line 148, ../sass/note/blog.scss */
  #reader-right pre {
    white-space: pre-wrap;
    /* CSS 2.1 */
    word-wrap: break-word;
    /* IE7 */
    -webkit-tab-size: 4;
    -moz-tab-size: 4;
    -ms-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4; }
  /* line 153, ../sass/note/blog.scss */
  #reader-right .marker {
    background-color: Yellow; }
  /* line 156, ../sass/note/blog.scss */
  #reader-right span[lang] {
    font-style: italic; }
  /* line 159, ../sass/note/blog.scss */
  #reader-right figure {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block; }
    /* line 169, ../sass/note/blog.scss */
    #reader-right figure > figcaption {
      text-align: center;
      display: block;
      /* For IE8 */ }

/* line 176, ../sass/note/blog.scss */
.right-blogs {
  width: 920px;
  float: right;
  height: auto !important;
  margin-top: 0px; }

/* line 182, ../sass/note/blog.scss */
.right-blogs-frame {
  float: left;
  width: 800px;
  padding: 30px 30px 15px 30px;
  border: solid 1px #e7e7e7;
  border-bottom: none;
  background: #fff; }
  /* line 189, ../sass/note/blog.scss */
  .right-blogs-frame p {
    margin: 0 0 18px; }

/* line 193, ../sass/note/blog.scss */
.right-blogs-box {
  width: 100%;
  padding: 0;
  margin: 0 0 0px 0; }

/* line 198, ../sass/note/blog.scss */
.right-blogs-title {
  font-size: 20px;
  color: #292929;
  margin: 0 0 15px;
  font-family: 'Play', arial, serif;
  font-weight: normal;
  padding-bottom: 15px;
  border-bottom: dotted 1px #ddd; }
  /* line 206, ../sass/note/blog.scss */
  .right-blogs-title a {
    color: #3a3a3a; }

/* line 210, ../sass/note/blog.scss */
.right-blogs-bar {
  width: 117px;
  background: #fff;
  font: 11px/13px Helvetica, Arial, sans-serif;
  float: left;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e7e7e7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e7e7e7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e7e7;
  padding: 15px 15px 25px 15px; }
  /* line 227, ../sass/note/blog.scss */
  .right-blogs-bar p {
    margin: 0 !important; }

/* line 233, ../sass/note/blog.scss */
.right-bar-date {
  float: left;
  width: 90px;
  font-size: 14px;
  line-height: 18px;
  color: #a4a4a4;
  font-weight: bold;
  font-family: 'Play', Helvetica;
  border-bottom: dotted 1px #ccc; }

/* line 243, ../sass/note/blog.scss */
.right-bar-day {
  float: left;
  font-size: 34px;
  line-height: 48px;
  color: #2e2e2e;
  letter-spacing: -3px; }

/* line 251, ../sass/note/blog.scss */
.right-bar-holder {
  float: right;
  width: 49px;
  padding: 10px 0 0; }

/* line 257, ../sass/note/blog.scss */
.right-bar-month {
  color: #797979;
  display: block;
  margin: 0 0 -6px;
  text-transform: uppercase; }

/* line 264, ../sass/note/blog.scss */
.right-bar-title {
  display: block;
  font-size: 09px;
  line-height: 12px;
  font-weight: bold;
  color: #494949; }

/* line 272, ../sass/note/blog.scss */
.right-bar-tag {
  float: left;
  width: 100%;
  padding: 15px 14px 0 0; }

/*===日期===*/
/* line 3, ../sass/note/datas.scss */
.right-data {
  height: auto;
  margin-top: 0px; }

/* line 7, ../sass/note/datas.scss */
.left-data {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 0px;
  -webkit-border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -moz-border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -ms-border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -o-border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  border-radius: rgba(0, 0, 0, 0.1) 0px 0px 3px; }
  /* line 13, ../sass/note/datas.scss */
  .left-data table {
    color: #666;
    font-size: 18px;
    margin-bottom: 0;
    background: #eee; }
  /* line 19, ../sass/note/datas.scss */
  .left-data table td {
    text-align: center; }

/* line 23, ../sass/note/datas.scss */
.left-data-title {
  background: url(../../img/darkbg.jpg);
  padding: 10px;
  color: #fff;
  font-size: 12px;
  font-family: 'Play', Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0; }

/* line 2, ../sass/note/feel.scss */
.leftFeel {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  position: relative;
  margin-bottom: 30px;
  float: left; }
  /* line 7, ../sass/note/feel.scss */
  .leftFeel .leftFeelBox {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px; }
    /* line 11, ../sass/note/feel.scss */
    .leftFeel .leftFeelBox .feelBoxList {
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 15, ../sass/note/feel.scss */
      .leftFeel .leftFeelBox .feelBoxList .feelBoxListLi {
        list-style: none;
        border-top: 1px solid #e5e5e5; }
        /* line 18, ../sass/note/feel.scss */
        .leftFeel .leftFeelBox .feelBoxList .feelBoxListLi a {
          position: relative;
          display: block;
          padding: 15px 0px 15px 10px;
          font-size: 14px;
          color: #4183c4;
          text-decoration: none;
          background: transparent;
          list-style: none;
          font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }
        /* line 29, ../sass/note/feel.scss */
        .leftFeel .leftFeelBox .feelBoxList .feelBoxListLi .feelInco {
          background: url("../../img/book.png") no-repeat center;
          height: 20px; }
        /* line 33, ../sass/note/feel.scss */
        .leftFeel .leftFeelBox .feelBoxList .feelBoxListLi .feelTag {
          text-align: right; }
        /* line 36, ../sass/note/feel.scss */
        .leftFeel .leftFeelBox .feelBoxList .feelBoxListLi .feelTag::before {
          content: "《"; }
        /* line 39, ../sass/note/feel.scss */
        .leftFeel .leftFeelBox .feelBoxList .feelBoxListLi .feelTag::after {
          content: "》"; }
        /* line 42, ../sass/note/feel.scss */
        .leftFeel .leftFeelBox .feelBoxList .feelBoxListLi .feelDate {
          text-align: right; }

/* line 2, ../sass/note/note.scss */
.noteList {
  color: #fff; }
  /* line 4, ../sass/note/note.scss */
  .noteList h3 a {
    color: #fff; }
  /* line 7, ../sass/note/note.scss */
  .noteList .noteBox {
    margin: 0;
    padding: 1px 15px 1px 15px;
    background: #fff; }
    /* line 11, ../sass/note/note.scss */
    .noteList .noteBox .noteLink {
      text-decoration: none;
      list-style-type: none;
      margin-top: 15px;
      margin-bottom: 15px; }
      /* line 16, ../sass/note/note.scss */
      .noteList .noteBox .noteLink .noteBoxDate {
        text-align: right; }

/* line 2, ../sass/note/tag.scss */
.tag-box {
  background: url(../../img/darkbg.jpg);
  display: block;
  overflow: hidden;
  list-style: disc;
  margin: 0 0 9px 25px;
  font-size: 13px;
  line-height: 18px;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-before: 1em;
  margin-after: 1em;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 0px;
  -o-margin-before: 1em;
  -o-margin-after: 1em;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-start: 0px;
  -ms-margin-before: 1em;
  -ms-margin-after: 1em;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-start: 0px;
  -moz-margin-before: 1em;
  -moz-margin-after: 1em;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 13, ../sass/note/tag.scss */
  .tag-box .tag-link {
    text-decoration: none;
    list-style-type: none;
    float: left;
    margin: 0 10px 6px 0;
    line-height: 1.8;
    display: list-item;
    text-align: -webkit-match-parent; }
    /* line 21, ../sass/note/tag.scss */
    .tag-box .tag-link a {
      display: inline-block;
      text-decoration: none;
      font: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace 12px;
      color: #fff;
      height: 18px;
      line-height: 18px;
      margin: 5px 0 5px 8px;
      padding: 0 5px 0 12px;
      position: relative;
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -ms-border-radius: 0 5px 5px 0;
      -o-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0; }
      /* line 32, ../sass/note/tag.scss */
      .tag-box .tag-link a:-webkit-any-link {
        cursor: auto; }
      /* line 35, ../sass/note/tag.scss */
      .tag-box .tag-link a:hover {
        opacity: 0.8;
        color: #fff; }
      /* line 39, ../sass/note/tag.scss */
      .tag-box .tag-link a:before {
        content: " ";
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0;
        left: -18px;
        border: 9px solid transparent;
        border-right-color: #fff; }
      /* line 49, ../sass/note/tag.scss */
      .tag-box .tag-link a:after {
        content: " ";
        width: 4px;
        height: 4px;
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 7px;
        left: 2px; }
    /* line 61, ../sass/note/tag.scss */
    .tag-box .tag-link span {
      vertical-align: super;
      font-size: 0.8em;
      color: #fff;
      padding-left: 3px;
      padding-right: 3px;
      -webkit-box-shadow: 0em 0em 0em 0em #ffffff;
      -moz-box-shadow: 0em 0em 0em 0em #ffffff;
      -ms-box-shadow: 0em 0em 0em 0em #ffffff;
      -o-box-shadow: 0em 0em 0em 0em #ffffff;
      box-shadow: 0em 0em 0em 0em #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }

/* line 3, ../sass/note/translate.scss */
.translateList {
  /* padding-top: 20px; */ }

/* line 6, ../sass/note/translate.scss */
.translateBox {
  background: #fff;
  padding-top: 1px; }

/* line 9, ../sass/note/translate.scss */
.translateBoxImage {
  float: left;
  height: 160px;
  margin-bottom: 20px;
  margin-right: 18px;
  margin-top: 5px;
  overflow: hidden;
  width: 160px; }

/* line 18, ../sass/note/translate.scss */
.translateBoxTitle {
  font-family: Georgia,"Times New Roman",Times,serif; }

/* line 21, ../sass/note/translate.scss */
.translateBoxTitle .translateBoxTitleH3 {
  font-size: 25px;
  font-weight: normal;
  height: 40px;
  margin-bottom: 0px; }

/* line 26, ../sass/note/translate.scss */
.translateBoxDate {
  font-family: Georgia,"Times New Roman",Times,serif; }

/* line 29, ../sass/note/translate.scss */
.translateBoxDate .translateBoxDateH3 {
  height: 20px;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 5px; }

/* line 34, ../sass/note/translate.scss */
.translateBoxbody .translateBoxbodyP {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 110px;
  line-height: 1.42857143;
  color: #333; }

/* line 40, ../sass/note/translate.scss */
.translateBoxMore .translateBoxMoreP {
  font-style: italic;
  height: 40px;
  color: #363738;
  font-size: 12px;
  padding-right: 100px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: right; }

/* line 9, ../sass/po/po.scss */
table, tr, th, td {
  margin: 0;
  padding: 0; }

/* line 13, ../sass/po/po.scss */
.poContents tr {
  width: 100%; }

/* line 17, ../sass/po/po.scss */
.poContents {
  margin-top: 30px; }
  /* line 19, ../sass/po/po.scss */
  .poContents .poName {
    color: #fff;
    font-size: 100px;
    width: 100%;
    height: 300px;
    line-height: 300px;
    text-align: center; }
  /* line 27, ../sass/po/po.scss */
  .poContents .poHeader {
    height: 80px;
    line-height: 80px;
    width: 100%;
    float: left;
    border: 5px solid #934642;
    background: #154673;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    /* line 3, ../sass/po/po.scss */
    .poContents .poHeader ul > li {
      text-decoration: none;
      list-style-type: none;
      text-align: center; }
  /* line 37, ../sass/po/po.scss */
  .poContents .poDeleteBox {
    width: 100%;
    float: left;
    background: #fff;
    border: 5px solid #459846;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    /* line 44, ../sass/po/po.scss */
    .poContents .poDeleteBox table th {
      text-align: center; }
    /* line 47, ../sass/po/po.scss */
    .poContents .poDeleteBox table td {
      text-align: center; }
      /* line 49, ../sass/po/po.scss */
      .poContents .poDeleteBox table td a.delImg {
        background: url(../../img/po/del.gif);
        color: #9d9c9a;
        font-size: 10px;
        text-decoration: none;
        padding: 0 0 0 14px;
        background-repeat: no-repeat;
        background-position: 0 0; }
  /* line 60, ../sass/po/po.scss */
  .poContents .poAddBox {
    width: 20%;
    float: left;
    background: #fff;
    border: 5px solid #459846;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  /* line 67, ../sass/po/po.scss */
  .poContents .poReviseBox {
    width: 100%;
    float: left;
    background: #fff;
    border: 5px solid #459846;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    /* line 74, ../sass/po/po.scss */
    .poContents .poReviseBox table th {
      text-align: center; }
    /* line 77, ../sass/po/po.scss */
    .poContents .poReviseBox table td {
      text-align: center; }
      /* line 79, ../sass/po/po.scss */
      .poContents .poReviseBox table td a.editImg {
        background: url(../../img/po/edit.gif);
        color: #9d9c9a;
        font-size: 10px;
        text-decoration: none;
        padding: 0 0 0 14px;
        background-repeat: no-repeat;
        background-position: 0 0; }
  /* line 90, ../sass/po/po.scss */
  .poContents .poNav {
    height: 80px;
    line-height: 80px;
    width: 100%;
    float: left;
    border: 5px solid #647863;
    background: #652347;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    /* line 3, ../sass/po/po.scss */
    .poContents .poNav ul > li {
      text-decoration: none;
      list-style-type: none;
      text-align: center; }
  /* line 100, ../sass/po/po.scss */
  .poContents .poTextarea {
    width: 80%;
    float: left;
    border: 5px solid #564975;
    background: #564975;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

/* line 116, ../sass/po/po.scss */
.deleteProseTh20 {
  width: 20%;
  display: block;
  float: left; }
  /* line 111, ../sass/po/po.scss */
  .deleteProseTh20 p {
    margin: 0;
    padding: 0; }

/* line 120, ../sass/po/po.scss */
.deleteCatalogueTh10 {
  width: 10%;
  display: block;
  float: left; }
  /* line 111, ../sass/po/po.scss */
  .deleteCatalogueTh10 p {
    margin: 0;
    padding: 0; }

/* line 124, ../sass/po/po.scss */
.deleteCatalogueTh20 {
  width: 20%;
  display: block;
  float: left; }
  /* line 111, ../sass/po/po.scss */
  .deleteCatalogueTh20 p {
    margin: 0;
    padding: 0; }

/* line 128, ../sass/po/po.scss */
.deleteCatalogueTh50 {
  width: 50%;
  display: block;
  float: left; }
  /* line 111, ../sass/po/po.scss */
  .deleteCatalogueTh50 p {
    margin: 0;
    padding: 0; }

/* line 132, ../sass/po/po.scss */
.deleteBlogTh16 {
  width: 16%;
  display: block;
  float: left; }
  /* line 111, ../sass/po/po.scss */
  .deleteBlogTh16 p {
    margin: 0;
    padding: 0; }
