#contion{
	width:1200px;
padding: 30px 20px 30px 20px;
	margin:0 auto 0 auto;
	z-index:1010;
	/*border-radius: 5px 5px 0 0;*/
}
#contion div.div-tags-header {
	height:40px;
	background-color: #f5f5f5;
	padding: 5px 10px 0 20px;
	border-bottom: 1px solid #eeeeee;
	border-radius: 5px 5px 0 0;
	}
#contents{
	width:916px;
	float: right;
		background: #fff;
	padding:20px 30px 30px 30px;
}
#contion #contents div.div-reader-title{
 width:100%;
 height:60px;
 line-height:60px;
 color:#A52A9B;
 font-size:30px;
/*  padding:0 0 1px 0; */
 margin-bottom:20px;
 border-bottom:1px solid #999999;
}
#contion #contents div.div-reader-title p.p-reader-title{
display:block;
float:left;
}
#contion #contents div.div-reader-title a.a-reader-prev,a.a-reader-next{
 height:20px;
 width:80px;
 text-align:center;
 line-height:20px;
	color:#6DAF45;
 font-size:18px;
 margin-left:10px;
 margin-right:10px;
 margin-top:20px;
 padding-top:5px;
 padding-bottom:5px;
 display:block;
 float:right;
 cursor: auto;
/*  border: 2px solid #dddddd;
border-radius: 0; */


}
/* #contion #contents div.div-reader-title a.a-hover:hover{
background:#eeeeee;
} */
#contion #contents div.div-reader-text{
 width:100%;
 color:#3D3238;
 font-size:20px;
}
#contion #contents #prettyprint li {
list-style: inherit;
}
 #contents  #prettyprint  ol,ul,dl
{
    /* IE7: reset rtl list margin. (#7334) */
    *margin-right: 0px;
    /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    padding: 0 ;
}

#contion #sidebar-wrap {
    float: left;
    width: 200px;
    margin-top: 0px;
}
#contion .clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

#contion .clearfix {
    *display: inline-block;
    height: 1%;
}
#contion #sticky,#contion  .sticky {
    background: url(img/postbg.jpg);
    height: auto;
    width: 200px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
}

#contion .sticky-title {
    background: url(img/darkbg.jpg);
    padding: 10px;
    color: #fff;
    font-size: 12px;
    font-family: 'Play', Helvetica, sans-serif;
    font-weight: bold;
   /* margin-bottom: 25px;*/
   margin-bottom: 0px;
    margin-top: 0;
}
#contion  .td_juzhong {
text-align: center;
}
#contion #contents li {
    list-style: initial;
}

   /* 富文本*/



 #contents .cke_editable
{
    font-size: 13px;
    line-height: 1.6;
}

 #contents blockquote
{
    /* font-style: italic;*/
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0 0 20px;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 0 0 5px
}

 #contents .cke_contents_ltr blockquote
{
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

 #contents .cke_contents_rtl blockquote
{
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
}

 #contents a
{
    color: #0782C1;
}

 #contents ol,ul,dl
{
    /* IE7: reset rtl list margin. (#7334) */
    *margin-right: 0px;
    /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
   /*  padding: 0 40px;*/
}

 #contents h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
    line-height: 1.2;
}

 #contents hr
{
    border: 0px;
    border-top: 1px solid #ccc;
}

 #contents img.right
{
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
}

 #contents img.left
{
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
}

 #contents pre
{
    white-space: pre-wrap; /* CSS 2.1 */
    word-wrap: break-word; /* IE7 */
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
    tab-size: 4;
}

 #contents .marker
{
    background-color: Yellow;
}

 #contents span[lang]
{
    font-style: italic;
}

 #contents figure
{
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 2px;
    background: rgba(0,0,0,0.05);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block;
}

 #contents figure > figcaption
{
    text-align: center;
    display: block; /* For IE8 */
}

 #contents a > img {
    padding: 1px;
    margin: 1px;
    border: none;
    outline: 1px solid #0782C1;
}