.main #sidebar-wrap {
    float: left;
    width: 200px;
    margin-top: 0px;
}.main .clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.main .clearfix {
    *display: inline-block;
    height: 1%;
}.main #sticky,.main  .sticky {
    background: url(img/postbg.jpg);
    height: auto;
    width: 200px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
}

.main .sticky-title {
    background: url(img/darkbg.jpg);
    padding: 10px;
    color: #fff;
    font-size: 12px;
    font-family: 'Play', Helvetica, sans-serif;
    font-weight: bold;
   /* margin-bottom: 25px;*/
   margin-bottom: 0px;
    margin-top: 0;
}
.main .widget {
    float: left;
    padding: 0 10px 25px 25px;
    margin: 0 0 25px;
    border-bottom: dotted 1px #ccc;
    width: 200px;
}
.main #content2 {
    width: 920px;
    float: right;
    height: auto !important;
    margin-top:0px;
}
.main .filter-posts p { margin: 0 0 18px; } /* Fix for the quicksand margin bug */
.main .post .box { float: left }
.main .post {
    width: 100%;
    padding: 0;
    margin: 0 0 0px 0;
    float:left;
}.main .post .shadow {
    background: url(img/shadow.png) no-repeat center bottom;
   /*  padding-bottom: 13px;*/
    float: left;
}.main .post .frame {
    float: left;
    width: 800px;
    padding: 30px 30px 15px 30px;
    border: solid 1px #e7e7e7;
    border-bottom: none;
    background: #fff;
}

.main .entry-title {
    font-size: 20px;
    color: #292929;
    margin: 0 0 15px;
    font-family: 'Play', arial, serif;
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: dotted 1px #ddd;
}

.main #content2 .entry-title a { color: #3a3a3a }

.main #content2 .entry-title a:hover { text-decoration: none }
.main .post .bar {
    background: url(img/postbg.jpg);
    width: 117px;
    font: 11px/13px Helvetica, Arial, sans-serif;
    float: left;
    border-top: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
}

.main .post .bar-frame { padding: 15px 15px 25px 15px }

.main .post .bar .date {
    float: left;
    width: 90px;
    font-size: 14px;
    line-height: 18px;
    color: #a4a4a4;
    font-weight: bold;
    font-family: 'Play', Helvetica;
    border-bottom: dotted 1px #ccc;
}

.main .post .bar p { }

.main .post .bar .day {
    float: left;
    font-size: 34px;
    line-height: 48px;
    color: #2e2e2e;
    letter-spacing: -3px;
}

.main .bar .date .holder {
    float: right;
    width: 49px;
    padding: 10px 0 0;
}

.main .bar .month {
    color: #797979;
    display: block;
    margin: 0 0 -6px;
    text-transform: uppercase;
}

.main .bar .title {
    display: block;
    font-size: 09px;
    line-height: 12px;
    font-weight: bold;
    color: #494949;
}

.main .bar .author {
    float: left;
    width: 100%;
    padding: 15px 14px 0 0;
}

.main .bar p { margin: 0 !important }
#contents {
padding: 30px 20px 30px 20px;
z-index: 1098;
}#contion {
width: 1200px;
height: 1000px;
margin: 0 auto 0 auto;
}
.fenye-right{
    float: left;
}
.td_juzhong{
    text-align:center;
}