<article class="noteList col-md-12">
	<ul class="noteBox">
		<li class="noteLink container-fluid">
			<img src="../img/photo/1.jpg" alt="" class="col-md-12">
		</li>
	</ul>
	<div style="clear:both;"></div>
</article>