<article class="noteList col-md-12"  style="padding:0;">
	<ul class="noteBox">
		<li class="noteLink container-fluid">
			<img src="../img/photo/1.jpg" alt="" class="col-md-4">
            <span class="col-md-8" style="height:100%;font-size: 100px;text-align: center;margin-top: 10%;">snow</span>
		</li>
	</ul>
	<div style="clear:both;"></div>
</article>