@import '../definition';
@mixin ulLiNoneCenter {
	ul>li{
		text-decoration: none;
		list-style-type: none;
		text-align: center;
	}
}
table,tr,th,td{
	margin:0;
	padding:0;
}
.poContents tr{

width: 100%;
}
.poContents{
	margin-top:30px;
	.poName{
		color:#fff;
		font-size:100px;
		width:100%;
		height:300px;
		line-height:300px;
		text-align:center;
	}
	.poHeader{
		height:80px;
		line-height:80px;
		width:100%;
		float:left;
		border:5px solid #934642;
		background:#154673;
		@include borderRadius(5px);
		@include ulLiNoneCenter;
	}
	.poDeleteBox{
		width:100%;
		float:left;
		background:#fff;
		border:5px solid #459846;
		@include borderRadius(5px);
		table{
			th{
				text-align:center;
			}
			td{
				text-align:center;
				a.delImg{
					background:url(../../img/po/del.gif);color: #9d9c9a;
					font-size: 10px;
					text-decoration: none;
					padding: 0 0 0 14px;
					background-repeat: no-repeat;
					background-position: 0 0;
				}
			}
		}
	}
	.poAddBox{
		width:20%;
		float:left;
		background:#fff;
		border:5px solid #459846;
		@include borderRadius(5px);
	}
	.poReviseBox{
		width:100%;
		float:left;
		background:#fff;
		border:5px solid #459846;
		@include borderRadius(5px);
		table{
			th{
				text-align:center;
			}
			td{
				text-align:center;
				a.editImg{
					background:url(../../img/po/edit.gif);color: #9d9c9a;
					font-size: 10px;
					text-decoration: none;
					padding: 0 0 0 14px;
					background-repeat: no-repeat;
					background-position: 0 0;
				}
			}
		}
	}
	.poNav{
		height:80px;
		line-height:80px;
		width:100%;
		float:left;
		border:5px solid #647863;
		background:#652347;
		@include borderRadius(5px);
		@include ulLiNoneCenter;
	}
	.poTextarea{
		width:80%;
		float:left;
		border:5px solid #564975;
		background:#564975;
		@include borderRadius(5px);
	}
}
@mixin deleteModeLeftP {
	display: block;
	float: left;
	p{
		margin:0;
		padding:0;
	}
}
.deleteProseTh20{
	width:20%;
	@include deleteModeLeftP;
}
.deleteCatalogueTh10{
	width:10%;
	@include deleteModeLeftP;
}
.deleteCatalogueTh20{
	width:20%;
	@include deleteModeLeftP;
}
.deleteCatalogueTh50{
	width:50%;
	@include deleteModeLeftP;
}
.deleteBlogTh16{
	width:16%;
	@include deleteModeLeftP;
}
