@import '../definition';
@mixin ulLiNoneCenter {
	ul>li{
		text-decoration: none;
		list-style-type: none;
		text-align: center;
	}
}
table,tr,th,td{
	margin:0;
	padding:0;
}
.poReviseCententTitle{
  height: 40px;
  background-color: #f5f5f5;
  //border-bottom: 1px solid #fff;
  .poReviseCententTitleLeft{
    height: 30px;
    width: 120px;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    float: left;
    background-color: #fff;
  }
  .poReviseCententTitleRight{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    float: left;
    background-color: #fff;
    a{
      color:#0A9916;
      font-size: 20px;
      text-decoration: none;
    }
  }
}
.poReviseCententTitleSign{
  background-color: #004F66 !important;
}
.poContents tr{

width: 100%;
}
.poContents{
  .poHeaderTop{
    z-index: 50;
    width:100%;
    height:40px;
    background-color: #004F66;
    margin:0 !important;
    padding:0 !important;
    position: absolute;
    border-bottom: 1px solid #fff;
    .topTitle{
      display: block;
      height:40px;
      line-height: 40px;
      width:200px;
      margin-left:10px;
      //text-align: center;
      color:#fff;
      font-size:23px;
    }
  }
  margin:0px !important;
  padding:0px !important;
  width: 100% !important;
	.poName{
		>a{
			color:#145871;
			text-decoration: none;
			text-transform: none;
		}
		font-size:100px;
		height:300px;
		line-height:300px;
		text-align:center;
	}
	.poHeader{
		height:100%;
		line-height:60px;
        position: absolute;
        width:100px;

        padding:40px 0 0 0 !important;
		float:left;
		//border:5px solid #934642;
		background:#004F66;

		//@include borderRadius(5px);
		@include ulLiNoneCenter;
      ul{
        display: block;
        height:auto;
        li{
          padding: 0 !important;
          display: block;
          float:left;
          //border-bottom: 1px solid #fff;
          a{
            color:#f5f5f5;
            padding:0 5px;
            width:80px;
            height:30px;
            line-height:30px;
            display: block;
            margin: 5px auto;
            border: 1px dotted #fff;
            text-decoration: none;
            &:hover{
              background-color: #f5f5f5;
              text-decoration: none;
                color:#660000;
            }
          }
        }
      }
	}
	.poAddBox{
		//width:20%;
		margin:40px 0 0 100px;
		background:#f5f5f5;
        padding:0 !important;
        border-left:1px solid #fff;
      border-bottom: 1px solid #fff;
		//border:5px solid #459846;
		//@include borderRadius(5px);
      table{
        margin:0 !important;
        tr{
          td{
            padding:0 !important;

            .tdLeft,.tdContent,.tdRight{
              height:30px;
              line-height:30px;
              margin-left:10px;
              float: left;
            }
            .tdLeft{
              width:370px;
            }
            .tdLeft>span,.tdContent>span,.tdRight>span{
              margin-top:1px;
            }
            .tdRight>a{margin-left:10px;}
            .tdLeft>input,.tdContent>input,.tdRight>input{
              height:28px;
              margin-top:1px;
              border: 1px solid #c8c8c8;
            }
          }
        }
      }
     span, input{
        display: block;
        float:left;
      }
	}
	.poReviseBox{
      margin:40px 0 0 100px;
		background:#fff;
		border-left:1px solid #fff;
      border-bottom: 1px solid #fff;

		//@include borderRadius(5px);
		table{
			th{
				text-align:center;
			}
			td{
                padding:0 !important;
				text-align:center;
				a.editImg{
					background:url(../../img/po/edit.gif);color: #9d9c9a;
					font-size: 10px;
					text-decoration: none;
					padding: 0 0 0 14px;
					background-repeat: no-repeat;
					background-position: 0 0;
				}
              a.delImg{
                background:url(../../img/po/del.gif);color: #9d9c9a;
                font-size: 10px;
                text-decoration: none;
                padding: 0 0 0 14px;
                background-repeat: no-repeat;
                background-position: 0 0;
              }
			}
		}
	}
	.poNav{
		height:80px;
		line-height:80px;
		float:left;
		border:5px solid #647863;
		background:#652347;
		@include borderRadius(5px);
		@include ulLiNoneCenter;
	}
	.poTextarea{
		//width:100%;
        border-left:1px solid #fff;
		//float:left;
		//border:5px solid #564975;
		background:#564975;
      margin-left:100px;
		@include borderRadius(5px);
	}
}
@mixin deleteModeLeftP {
	display: block;
	float: left;
	p{
		margin:0;
		padding:0;
	}
}
.deleteProseTh20{
	width:20%;
	@include deleteModeLeftP;
}
.deleteCatalogueTh10{
	width:10%;
	@include deleteModeLeftP;
}
.deleteCatalogueTh20{
	width:20%;
	@include deleteModeLeftP;
}
.deleteCatalogueTh50{
	width:50%;
	@include deleteModeLeftP;
}
.deleteBlogTh16{
	width:16.6666%;
	@include deleteModeLeftP;
}
