
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_2{
	margin-left:16px;
	}
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_3{
	margin-left:32px;
	}
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_4{
	margin-left:16px;
	}
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_5{
	margin-left:32px;
	}
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_6 {
	display:block;
	height:100px;
	}
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_6 a{
	padding-bottom:30px;display:block;float:left;
	}
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_6 textarea{
	height:100px;
	width:300px;display:block;float:left;
	}
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li div.sex-box input.input_sex{
	height:12px;
	
	}		
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li input{
	height:24px;
	}		
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_7 a.a_baocun{
	height:30px;display:block;
	background-image: url(img/icon.png);
background-repeat: no-repeat;background-position: -223px -103px;
	cursor: pointer;width:50px;
	position: relative;left:130px; 
	}	
div.main div.main_auto div.main_warp div.main_right ul.main_right_ul li.li_7 a.a_baocun span{
	height:30px;text-align:center;width:40px;display:block;float:right;
	line-height:30px;background-image: url(img/icon.png);padding-right:5px;
background-repeat: no-repeat;background-position: 100% -611px;color:#fff;font-size:14px;
	}
	
	
	
	
	
	