body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

table, tr, th, td {
  margin: 0;
  padding: 0; }

.poContents tr {
  width: 100%; }

.poContents {
  margin-top: 30px; }
  .poContents .poName {
    font-size: 100px;
    width: 100%;
    height: 300px;
    line-height: 300px;
    text-align: center; }
    .poContents .poName > a {
      color: #145871;
      text-decoration: none;
      text-transform: none; }
  .poContents .poHeader {
    height: 80px;
    line-height: 80px;
    width: 100%;
    float: left;
    border: 5px solid #934642;
    background: #154673;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .poContents .poHeader ul > li {
      text-decoration: none;
      list-style-type: none;
      text-align: center; }
  .poContents .poDeleteBox {
    width: 100%;
    float: left;
    background: #fff;
    border: 5px solid #459846;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .poContents .poDeleteBox table th {
      text-align: center; }
    .poContents .poDeleteBox table td {
      text-align: center; }
      .poContents .poDeleteBox table td a.delImg {
        background: url(../../img/po/del.gif);
        color: #9d9c9a;
        font-size: 10px;
        text-decoration: none;
        padding: 0 0 0 14px;
        background-repeat: no-repeat;
        background-position: 0 0; }
  .poContents .poAddBox {
    width: 20%;
    float: left;
    background: #fff;
    border: 5px solid #459846;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .poContents .poReviseBox {
    width: 100%;
    float: left;
    background: #fff;
    border: 5px solid #459846;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .poContents .poReviseBox table th {
      text-align: center; }
    .poContents .poReviseBox table td {
      text-align: center; }
      .poContents .poReviseBox table td a.editImg {
        background: url(../../img/po/edit.gif);
        color: #9d9c9a;
        font-size: 10px;
        text-decoration: none;
        padding: 0 0 0 14px;
        background-repeat: no-repeat;
        background-position: 0 0; }
  .poContents .poNav {
    height: 80px;
    line-height: 80px;
    width: 100%;
    float: left;
    border: 5px solid #647863;
    background: #652347;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .poContents .poNav ul > li {
      text-decoration: none;
      list-style-type: none;
      text-align: center; }
  .poContents .poTextarea {
    width: 80%;
    float: left;
    border: 5px solid #564975;
    background: #564975;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

.deleteProseTh20 {
  width: 20%;
  display: block;
  float: left; }
  .deleteProseTh20 p {
    margin: 0;
    padding: 0; }

.deleteCatalogueTh10 {
  width: 10%;
  display: block;
  float: left; }
  .deleteCatalogueTh10 p {
    margin: 0;
    padding: 0; }

.deleteCatalogueTh20 {
  width: 20%;
  display: block;
  float: left; }
  .deleteCatalogueTh20 p {
    margin: 0;
    padding: 0; }

.deleteCatalogueTh50 {
  width: 50%;
  display: block;
  float: left; }
  .deleteCatalogueTh50 p {
    margin: 0;
    padding: 0; }

.deleteBlogTh16 {
  width: 16.6666%;
  display: block;
  float: left; }
  .deleteBlogTh16 p {
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=po.css.map */
