<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=gbk" />
		<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

		<link rel="stylesheet"  href="css/base.css" type="text/css" media="all">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
		<link type="text/css" rel="stylesheet" href="css/app/demo.css" />
		<link type="text/css" rel="stylesheet" href="css/app/jquery.mmenu.all.css" />

		<script type="text/javascript" src="lib/jquery/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/app/jquery.mmenu.min.all.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
		<script type="text/javascript">
			$(function() {
				$('nav#menu').mmenu();
			});
		</script>

	</head>
	<body >
		<div id="page">
			<%- include modulesTools/nav %>
			<div class="container">
				<ul>
					<li>QQ:122478499</li>
					<li>Emile:smile@kang.cool</li>
					<li>thanks</li>
				</ul>
							<div style="position: absolute;bottom:0">
				<p> ©2011-2014 YOOGC.COM.</p>
				<p>Copyright ©2014 kang.cool All Rights Reserved. 本站源码在 <a target="_blank" href="https://github.com/kahn1990">github.com/kahn1990</a>.</p>
			</div>
			</div>

		</div>
	</body>
</html>