<li>
	<span class="liColorThree">生活/LIFE</span>
	<div class="carat caratThree"></div>
	<div class="submenuWrapper">
		<div class="submenuContainer">
			<ul class="submenu">
				<li>
					<a href="/in/prose">说说</a>
				</li>
				<li>
					<a href="/in/photo">相册</a>
				</li>
			</ul>
		</div>
	</div>
</li>