<li>
	<span class="liColorOne">主页/HOME</span>
	<div class="carat caratOne"></div>
	<div class="submenuWrapper">
		<div class="submenuContainer">
			<ul class="submenu">
				<li>
					<a href="/">主页</a>
				</li>
				<li>
					<% if (!locals.user) {%>
					<% } else{%>
						<a href="/">日志</a>
					<% }%>
				</li>
				<li>
					<% if (!locals.user) {%>
						<a  class="login loginCursor">登陆</a>
					<% } else{%>
						<a  class="login loginCursor">退出</a>
					<% }%>
				</li>
			</ul>
		</div>
	</div>
</li>