<li>
	<span class="liColorTwo">笔记/NOTE</span>
	<div class="carat caratTwo"></div>
	<div class="submenuWrapper">
		<div class="submenuContainer">
			<ul class="submenu">
				<li>
					<a href="/in/blog">笔记</a>
				</li>
				<li>
					<a href="/in/feel">读后感</a>
				</li>
				<li>
					<a href="/in/note">便签</a>
				</li>
				<li>
					<a href="/in/translate">译文</a>
				</li>
			</ul>
		</div>
	</div>
</li>