/* line 19, ../../sass/definition.scss */
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/* line 6, ../../sass/life/prose.scss */
.closeProse h2 i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 9, ../../sass/life/prose.scss */
.closeProse .list {
  opacity: 0;
  height: 0 !important;
}

/* line 14, ../../sass/life/prose.scss */
.prose-tree {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
/* line 18, ../../sass/life/prose.scss */
.prose-tree h2 {
  height: 40px;
  width: 170px;
  padding-right: 30px;
  font-size: 24px;
  line-height: 40px;
  text-align: right;
}
/* line 25, ../../sass/life/prose.scss */
.prose-tree h2 a {
  color: #58a6fb;
  text-decoration: none;
}
/* line 28, ../../sass/life/prose.scss */
.prose-tree h2 a i {
  display: block;
  position: relative;
  height: 0;
  width: 0;
  left: 190px;
  top: -20px;
  border-width: 6px;
  border-style: solid;
  border-color: #59a7fb transparent transparent transparent;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: 6px 3px;
  -moz-transform-origin: 6px 3px;
  -ms-transform-origin: 6px 3px;
  -o-transform-origin: 6px 3px;
  transform-origin: 6px 3px;
}
/* line 42, ../../sass/life/prose.scss */
.prose-tree .list {
  margin: 10px 0;
  overflow: hidden;
  -webkit-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  -moz-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  -ms-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  -o-transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  transition: height 1s cubic-bezier(0.025, 0.025, 0, 1.115), opacity 1s;
  bottom: 0;
}
/* line 47, ../../sass/life/prose.scss */
.prose-tree .list .cls {
  padding: 30px 0;
  color: #a1a4b8;
  zoom: 1;
}
/* line 51, ../../sass/life/prose.scss */
.prose-tree .list .cls:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 59, ../../sass/life/prose.scss */
.prose-tree .list .cls .version, .prose-tree .list .cls .date {
  float: left;
  display: block;
  clear: left;
  width: 200px;
  line-height: 24px;
  text-align: right;
}
/* line 67, ../../sass/life/prose.scss */
.prose-tree .list .cls .date {
  font-size: 18px;
  line-height: 32px;
  color: #bec1d5;
}
/* line 73, ../../sass/life/prose.scss */
.prose-tree .list .cls .more, .prose-tree .list .cls .intro {
  float: left;
  display: block;
  width: 650px;
  margin-left: 100px;
  line-height: 24px;
}
/* line 80, ../../sass/life/prose.scss */
.prose-tree .list .cls .intro {
  font-size: 18px;
  line-height: 32px;
  color: #63d029;
}
