<aside class="left-data col-md-2">
	<h2 class="left-data-title">归档</h2>
	<table class="table table-striped">
	<% PostRiqi.forEach(	function(PostRiqi){%>
		<tr>
			<td>
				<a href="/PageByData?riqi_dates='<%= PostRiqi.kt_riqi_dates %>'">
					<%= PostRiqi.kt_riqi_dates %>
				</a>
			</td>
		</tr>
	<% });%>
	</table>
</aside>