	<footer class="footerGb">
		<div class="gobackheader">
			<a id="gotop" href="javascript:void(0)" ></a>
		</div>
        <div class="container footerContentBg">
            <!--<div id="bkDiv">
                <svg width="100%" height="100%">
                    <defs>
                        <mask id="theMask">
                            <rect width="100%" height="100%" fill="#fff" />
                            <text x="5" y="65" class="theText" fill="#000">KANG JIAN</text>
                        </mask>
                    </defs>
                    <rect width="100%" height="100%" mask="url(#theMask)" fill="#2E2E30" />
                </svg>
            </div>-->
            <!--<div id="bkDiv">
              <svg width="100%" height="100%">
                <defs>
                  <mask id="theMask">
                    <rect width="100%" height="100%" fill="#fff" />
                    <text x="5" y="65" id="theText" fill="#000">KANG JIAN</text>
                  </mask>
                </defs>
                <rect width="100%" height="100%" mask="url(#theMask)" fill="#2E2E30" />
              </svg>
            </div>-->
			<div class="site-footer">
				<ul class="site-footer-links right">
					<li><a href="https://github.com/kahn1990">Github</a></li>
					<li><a href="http://weibo.com/kangxiaolang">微博</a></li>
					<li><a href="http://user.qzone.qq.com/122478499/main">空间</a></li>
				</ul>
				<ul class="site-footer-links">
					<li>© 2014 <span title="">Kang</span>.cool</li>
					<li><a href="http://kang.cool">.</a></li>
					<li>---By { <a href="http://nodejs.org/">node.js</a>、<a href="http://expressjs.com/">express.js</a>、<a href="https://www.mysql.com/">mysql</a> }</li>
				</ul>
			</div>
		</div>
	</footer>
    <input id="inputLoadTag" type="hidden" value="<%= loadTagOjNew %>"/>
	<script type="text/javascript">
  /*  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1254327661'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254327661' type='text/javascript'%3E%3C/script%3E"));*/
    </script>

    <!--<script type="text/javascript" src="../lib/jquery/jquery-2.1.1.min.js"></script>-->
    <script src="../lib/menuJson/menuJson.js"></script>
    <script src="../lib/menuJson/assets/js/ace-elements.min.js"></script>
    <script src="../lib/menuJson/assets/js/ace.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/prettify/prettify.js"></script>
    <script type="text/javascript" src="../lib/jquery/jquery-ui.min.js"></script>
    <script src="../js/index.js"></script>
    <script type="text/javascript" src="../js/module/menu/modernizr.js"></script>
    <script type="text/javascript" src="../js/module/menu/main.js"></script>
</body>
</html>