	<footer>
		<div class="gobackheader">
			<a id="gotop" href="javascript:void(0)" ></a>
		</div>
		<div class="container">
			<div class="site-footer">
				<ul class="site-footer-links right">
					<li><a href="https://github.com/kahn1990">Github</a></li>
					<li><a href="http://weibo.com/kangxiaolang">微博</a></li>
					<li><a href="http://tieba.baidu.com/f?kw=%BF%B5%BD%A1">贴吧</a></li>
					<li><a href="http://user.qzone.qq.com/122478499/main">空间</a></li>
				</ul>
				<ul class="site-footer-links">
					<li>© 2014 <span title="">ShiYeShu.COM</span>.</li>
					<li><a href="http://kang.cool">kang</a></li>
					<li><a href="http://baixue.me">baixue</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>