<footer>
	<div class="container" id="contents" >
		<p> ©2011-2014 YOOGC.COM.</p>
		<p>Copyright ©2014 kang.cool All Rights Reserved. 本站源码在 <a target="_blank" href="https://github.com/kahn1990">github.com/kahn1990</a>.</p>
		<div class="gobackheader">
			<a id="gotop" href="javascript:void(0)" ></a>
		</div>
	</div>
</footer>
