<header class="headerWrapper">
	<div class="container headerDiv">
		<%- include header/logo %>
		<%- include header/skin %>
		<%- include header/dateNow %>
		<%- include header/login %>
	</div>
</header>