
<header id="header-left-box" class="left-close skin1">
	<nav class="header-nav container-fluid" >
		<ul>
			<li class="col-md-2" ><a href="/home" ><span>Home</span></a></li>
			<li class="col-md-2"><a href="/blogs" ><span>Blogs</span></a></li>
			<li class="col-md-2"><a href="/domainname" ><span>Domain</span></a></li>
			<li class="col-md-2"><a href="/prose" ><span>Prose</span></a></li>
			<li class="col-md-2"><a href="/Catalogue" ><span>Catalogue</span></a></li>
			<li class="col-md-2"><a href="/about" ><span>About</span></a></li>
		</ul>
	</nav>
	<article class="container-fluid"style="position: absolute;
bottom: 20px;
width: 100%;">
		<%- include tags %>
		<%- include icons %>
		<%- include skins %>

	</article>
	<%- include login %>
    	<div class="header-line">
        		<div class="header-btn" title="kang.cool"></div>
    	</div>
</header>



















