<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="keywords" content="javascript,java,php,linux,css,node.js,node,express.js,npm,css3,html5,sea.js，Stepping On The Rainy Street,雨中漫步,sotrs">
	<meta name="description" content="Stepping On The Rainy Street.雨中漫步">
	<link href="../css/index.css" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../lib/prettify/prettify.css">
    <link href="../lib/menuJson/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../lib/menuJson/assets/css/font-awesome.min.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="../lib/menuJson/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <!--ace styles-->
    <link rel="stylesheet" href="../lib/menuJson/assets/css/ace.min.css" />
    <link rel="stylesheet" href="../lib/menuJson/assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="../lib/menuJson/assets/css/ace-skins.min.css" />
 <script type="text/javascript">
        window.jQuery || document.write("<script src='../lib/menuJson/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>
</head>
<body>
