<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link href="../css/index.css" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../lib/prettify/prettify.css">
	<script type="text/javascript" src="../lib/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../lib/prettify/prettify.js"></script>
	<script type="text/javascript" src="../lib/jquery/jquery-ui.min.js"></script>
	<script src="../js/index.js"></script>
</head>
<body>