<nav class="MenuWrapper MenuStatic">
	<div class="container MenuWrapperDivBd">
		<div class="headerNavigationLeft" ></div>
		<ul class="ulMenu">
			<%- include menu/menuHome %>
			<%- include menu/menuNote %>
			<%- include menu/menuLife %>
			<%- include menu/menuAbout %>
		</ul>
		<div class="headerNavigationRight" ></div>
	</div>
</nav>