<nav class="MenuWrapper MenuStatic">
	<ul class="ulMenu">
		<%- include menu/menuHome %>
		<%- include menu/menuNote %>
		<% if (locals.user) {%>
			<%- include menu/menuLife %>
			<%- include menu/menuAbout %>
		<% }%>
	</ul>
</nav>
