<h1><a href="http://www.hollischuang.com" target="_blank" >hollischuang</a></h1>
<h3 style="color:#fff;">交换友链，请发邮件至smile@kang.cool</h3>
<p style="color:#fff;">Your email: <input type="text" ng-model="youremail" placeholder="122478499@qq.com"></p>
        <p style="color:#fff;">Add {{youremail || '122478499@qq.com'}}!</p>