<link type="text/css" rel="stylesheet" media="all" href="../lib/d3/charts.css">
<div class="itemAbout col-md-12">
	<div class="col-md-7">

		<div class="downloads-chart" style="margin-top:100px;">
  <div class="graph">
    <div id="download-chart" data-graph-points="[{&quot;day&quot;:&quot;2014-11-03&quot;,&quot;downloads&quot;:25},{&quot;day&quot;:&quot;2014-11-04&quot;,&quot;downloads&quot;:5},{&quot;day&quot;:&quot;2014-11-05&quot;,&quot;downloads&quot;:2},{&quot;day&quot;:&quot;2014-11-07&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-08&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-12&quot;,&quot;downloads&quot;:2},{&quot;day&quot;:&quot;2014-11-13&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-14&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-18&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-22&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-23&quot;,&quot;downloads&quot;:110},{&quot;day&quot;:&quot;2014-11-24&quot;,&quot;downloads&quot;:4},{&quot;day&quot;:&quot;2014-11-25&quot;,&quot;downloads&quot;:9}]">
    </div>
  </div>
</div>
	</div>
	<div class="col-md-5">
		<h2 style="border-bottom: solid 1px #000;">
		<a href="/in/pagination-api" style="font: 30px Georgia, serif;color:#000;" target="_blank" title="pagination-api">pagination-api</a></h2>
			<pre class="assemblyListPre">npm install pagination-api</pre>
	<p>
		<i style="color:#ff6600;">By</i>	kahn1990<br>
		<i style="color:#ff6600;">Version</i>	0.1.0
		<i style="color:#ff6600;">License</i>	MIT<br>
		<i style="color:#ff6600;">description</i>	Pagination for nodejs, support bootstrap and custom the css style, support mysql and mongodb.<br>
		<i style="color:#ff6600;">Keywords</i>	pagination, nodejs, bootstrap, mysql, mongodb<br>
		<i style="color:#ff6600;">Homepage</i>	<a href="https://www.npmjs.org/package/pagination-api">https://www.npmjs.org/package/pagination-api</a><br>
		<i style="color:#ff6600;">Repository</i>	<a href="https://github.com/kahn1990/pagination-api">https://github.com/kahn1990/pagination-api (git)</a><br>
		<i style="color:#ff6600;">Bugs</i>	<a href="https://github.com/kahn1990/pagination-api/issues">https://github.com/kahn1990/pagination-api/issues</a>
	</p>
	</div>
</div>
<div class="itemAbout col-md-12">

	<div class="col-md-5">
	<h2 style="border-bottom: solid 1px #000;">
		<a href="/in/kcool"  style="font: 30px Georgia, serif;color:#000;" target="_blank" title="kcool.js">kcool.js</a></h2>
			<pre class="assemblyListPre">npm install kcool</pre>
	<p>
		<i style="color:#ff6600;">By</i>	kahn1990<br>
		<i style="color:#ff6600;">Version</i>	0.0.1<br>
		<i style="color:#ff6600;">License</i>	ISC<br>
		<i style="color:#ff6600;">description</i>	A JavaScript Library.<br>
		<i style="color:#ff6600;">Keywords</i>	kcool, javascript<br>
		<i style="color:#ff6600;">Homepage</i>	<a href="https://www.npmjs.org/package/kcool">https://www.npmjs.org/package/kcool</a><br>
		<i style="color:#ff6600;">Repository</i>	<a href="https://github.com/kahn1990/kcool.js">https://github.com/kahn1990/kcool.js (git)</a><br>
		<i style="color:#ff6600;">Bugs</i>	<a href="https://github.com/kahn1990/kcool.js/issues">https://github.com/kahn1990/kcool.js/issues</a>
	</p>
	</div>
	<div class="col-md-7">
		<div class="downloads-chart2" style="margin-top:100px;">
  <div class="graph">
    <div id="download-chart2" data-graph-points="[{&quot;day&quot;:&quot;2014-11-07&quot;,&quot;downloads&quot;:23},{&quot;day&quot;:&quot;2014-11-08&quot;,&quot;downloads&quot;:3},{&quot;day&quot;:&quot;2014-11-11&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-12&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-13&quot;,&quot;downloads&quot;:3},{&quot;day&quot;:&quot;2014-11-14&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-15&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-18&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-22&quot;,&quot;downloads&quot;:2},{&quot;day&quot;:&quot;2014-11-23&quot;,&quot;downloads&quot;:2},{&quot;day&quot;:&quot;2014-11-24&quot;,&quot;downloads&quot;:1},{&quot;day&quot;:&quot;2014-11-27&quot;,&quot;downloads&quot;:1}]"></div>
  </div>
</div>
	</div>
</div>
<div class="itemAbout col-md-12">

	<div class="col-md-12">
	<h2 style="border-bottom: solid 1px #000;">
		<a href="/in/colorGradient"  style="font: 30px Georgia, serif;color:#000;" target="_blank" title="kcool.js">Color gradient</a></h2>
			<pre class="">This difference is used to calculate two kinds of color</pre>
			<div class="col-md-12" style="border-radius: 4px;height:170px;background-color: #1677c8;
background-image: -webkit-linear-gradient(120deg,#1677c8,#EA0BBD);
background-image: -moz-linear-gradient(120deg,#1677c8,#EA0BBD);
background-image: -ms-linear-gradient(120deg,#1677c8,#EA0BBD);
background-image: -o-linear-gradient(120deg,#1677c8,#EA0BBD);
background-image: linear-gradient(120deg,#1677c8,#EA0BBD);"></div>
	</div>
</div>
<script src="../lib/d3/d3.js"></script>
<script src="../lib/d3/charts.js"></script>