<div class="itemAbout col-md-3">
	<div>
		<a href="/in/wendang" target="_blank" title="简单的单页简历">
			<img src="../img/about/a.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="/in/wendang" target="_blank" title="简单的单页简历">简单的单页简历
			<br>
			<small>html+css</small>
		</a>
	</h2>
	<p>依赖库：jquery,bootstrap,prettify</p><br>
</div>
<div class="itemAbout col-md-3">
	<div>
		<a href="/in/resume" target="_blank" title="复杂的单页简历">
			<img src="../img/about/b.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="/in/resume" target="_blank" title="复杂的单页简历">复杂的单页简历
			<br>
			<small>html5+css3</small>
		</a>
	</h2>
	<p>依赖库：jquery,bootstrap,jquery-migrate,jquery-easing,jquery-gallery,mootools-core,animate...</p>
</div>
<div class="itemAbout col-md-3" style="background:none;border:none;"></div>
<!-- 博客 -->
<div class="itemAbout col-md-3">
	<div>
		<a href="http://www.kang.cool/" target="_blank" title="kcoolBlog">
			<img src="../img/about/d.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="http://www.kang.cool" target="_blank" title="kcoolBlog">kcoolBlog
			<br>
			<small>node.js+express+mysql</small>
		</a>
	</h2>
	<p>应用sass预编译css文件，基于pagination-api,kcool.js等自家组件，nginx反向代理，模块化开发...</p>
</div>
<div class="itemAbout col-md-3">
	<div>
		<a href="http://www.kangjian.org.cn/" target="_blank" title="kcoolBlog-php">
			<img src="../img/about/c.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="http://www.kangjian.org.cn/" target="_blank" title="kcoolBlog-php">kcoolBlog-php
			<br>
			<small>php+codeIgniter+mysql</small>
		</a>
	</h2>
	<p>假期期间的php练手作品，代码简明，方便维护，结构清晰，便于管理...</p>
</div>
<div class="itemAbout col-md-3">
	<div>
		<a href="https://github.com/kahn1990/online-shop" target="_blank" title="online-shop">
			<img src="../img/online-shop/1.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="https://github.com/kahn1990/online-shop" target="_blank" title="online-shop">online-shop
			<br>
			<small>jsp+tomcat+mysql</small>
		</a>
	</h2>
	<p>基于jsp+servlet+jdbc+javaBean,采用jsp原生语言编写，应用的数据库为Mysql...</p>
</div>