<div class="itemAbout col-md-3">
	<div>
		<a href="http://www.shenyixuan.com" target="_blank" title="神逸轩">
			<img src="/modules/img/z4.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="http://www.shenyixuan.com" target="_blank" title="神逸轩">神逸轩
			<br>
			<small>参考的模板设计</small>
		</a>
	</h2>
	<p>为什么把它放在首位，这是我2011年初学编程的第一个作品，虽然是模板...</p><br>
</div>
<div class="itemAbout col-md-3">
	<div>
		<a href="/modules/chinapal/index.html" target="_blank" title="众筹设计">
			<img src="/modules/img/z5.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="/modules/chinapal/index.html" target="_blank" title="众筹设计">众筹设计
			<br>
			<small>很久之前的</small>
		</a>
	</h2>
	<p>打算创业的项目，那个时候国内还没有众筹的概念，才做了几个页面，无疾而终...</p><br>
</div>
<div class="itemAbout col-md-3" style="background:none;border:none;"></div>
<div class="itemAbout col-md-3">
	<div>
		<a href="/in/wendang" target="_blank" title="简单的单页简历">
			<img src="../img/about/a.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="/in/wendang" target="_blank" title="简单的单页简历">简单的单页简历
			<br>
			<small>html+css</small>
		</a>
	</h2>
	<p>依赖库：jquery,bootstrap,prettify</p><br>
</div>
<div class="itemAbout col-md-3">
	<div>
		<a href="/in/resume" target="_blank" title="复杂的单页简历">
			<img src="../img/about/b.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="/in/resume" target="_blank" title="复杂的单页简历">复杂的单页简历
			<br>
			<small>html5+css3</small>
		</a>
	</h2>
	<p>依赖库：jquery,bootstrap,jquery-migrate,jquery-easing,jquery-gallery,mootools-core,animate...</p>
</div>
<div class="itemAbout col-md-3" style="background:none;border:none;"></div>
<!-- 博客 -->
<div class="itemAbout col-md-3">
	<div>
		<a href="http://www.kang.cool/" target="_blank" title="kcoolBlog">
			<img src="../img/about/d.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="http://www.kang.cool" target="_blank" title="kcoolBlog">kcoolBlog
			<br>
			<small>node.js+express+mysql</small>
		</a>
	</h2>
	<p>应用sass预编译css文件，基于pagination-api,kcool.js等自家组件，nginx反向代理，模块化开发...</p>
</div>
<div class="itemAbout col-md-3">
	<div>
		<a href="http://www.kangjian.org.cn/" target="_blank" title="kcoolBlog-php">
			<img src="../img/about/c.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="http://www.kangjian.org.cn/" target="_blank" title="kcoolBlog-php">kcoolBlog-php
			<br>
			<small>php+codeIgniter+mysql</small>
		</a>
	</h2>
	<p>假期期间的php练手作品，代码简明，方便维护，结构清晰，便于管理...</p>
</div>
<div class="itemAbout col-md-3">
	<div>
		<a href="https://github.com/kahn1990/online-shop" target="_blank" title="online-shop">
			<img src="../img/online-shop/1.png" width="100%" height="100%">
		</a>
	</div>
	<h2>
		<a href="https://github.com/kahn1990/online-shop" target="_blank" title="online-shop">online-shop
			<br>
			<small>jsp+tomcat+mysql</small>
		</a>
	</h2>
	<p>基于jsp+servlet+jdbc+javaBean,采用jsp原生语言编写，应用的数据库为Mysql...</p>
</div>
<div class="itemAbout col-md-3">
    <div>
        <a href="/in/webTree" target="_blank" title="前端职业规划图">
            <img src="../img/inWebTree/a1.png" width="100%" height="100%">
        </a>
    </div>
    <h2>
        <a href="/in/webTree" target="_blank" title="前端职业规划图">前端职业规划图
            <br>
            <small>jsmind+jquery+bootstrap</small>
        </a>
    </h2>
    <p>前端职业体系颇为庞大，简单分化一下...</p>
</div>
<div class="itemAbout col-md-3" style="background:none;border:none;"></div>
<div class="itemAbout col-md-3" style="background:none;border:none;"></div>
<div class="itemAbout col-md-3">
    <div>
        <a href="http://www.wuzei.org" target="_blank" title="无贼PC端">
            <img src="/modules/img/a2.png" width="100%" height="100%">
        </a>
    </div>
    <h2>
        <a href="http://www.wuzei.org" target="_blank" title="无贼PC端">无贼PC端
            <br>
            <small>backbone+node+express</small>
        </a>
    </h2>
    <p>基于庞大的数据库，搜索您可能的曾经在互联网行为中泄漏的信息...</p>
</div>
<div class="itemAbout col-md-3">
    <div>
        <a href="http://portal.fraudmetrix.cn" target="_blank" title="同盾SASS产品部分需求实现">
            <img src="/modules/img/a3.png" width="100%" height="100%">
        </a>
    </div>
    <h2>
        <a href="http://portal.fraudmetrix.cn" target="_blank" title="同盾SASS产品部分需求实现">同盾SASS产品部分需求实现
            <br>
            <small>所有组件太多#_#</small>
        </a>
    </h2>
    <p>国内第一反欺诈公司同盾科技，最深的印象就是改bug，改bug，改bug...</p>
</div>