<!--
<div ng-controller="MyController" style="width:200px;float:right;color:#fff;">
	<h5 style="padding-top:5px;padding-top: 10px;font-size: 13px;">{{ clock.now }}</h5>
</div>
<script>
	function MyController($scope) {
		$scope.clock = {
			now: new Date()
		};
		var updateClock = function() {
			$scope.clock.now = new Date();
		};
		setInterval(function() {
			$scope.$apply(updateClock);
		}, 1000);
		updateClock();
	}
</script>-->
