<div class="lanageWrapper RLDom">
	<!--<div class="lanageText"><a href="">简</a>&nbsp;||&nbsp;<a href="">EN</a></div>-->
    <div class="lanageText"><a href="">新版</a>&nbsp;||&nbsp;<a href="">旧版</a></div>
</div>