<nav class="skinWrapper">
	<!--<ul class="skinBox">
		<li class="skinLink"><span class="skinTitle">皮肤</span></li>
		<li class="skinLink"><a id="skin1" style="background:#278CDE">白天</a></li>
		<li class="skinLink"><a id="skin2" style="background:#620F91">黑天</a></li>
		<li class="skinLink"><a id="skin2" style="background:#654655">黑天</a></li>
	</ul>-->
</nav>
<!-- <nav id="headerTopPhoto">
</nav> -->
