<nav class="skinWrapper">
	<ul class="skinBox">
		<li class="skinLink"><a id="skin1" style="background:url(../../img/gb/1.gif) ">skin1</a></li>
		<li class="skinLink"><a id="skin2" style="background:url(../../img/gb/3.gif) ">skin2</a></li>
		<li class="skinLink"><a id="skin3" style="background:url(../../img/gb/4.gif) ">skin3</a></li>
		<li class="skinLink"><a id="skin4" style="background:url(../../img/gb/9.gif) ">skin4</a></li>
		<li class="skinLink"><a id="skin5" style="background:url(../../img/gb/13.gif) ">skin5</a></li>
	</ul>
</nav>