<nav class="userInfoWrapper">
    <span class="userInfoPhoto" data-ifYN="no"></span>
	<!--
		<span class="userInfoPhoto" data-ifYN="no"></span>

		<span class="userInfoNobody" data-ifYN="no">!</span>
	-->
	<%- include skin %>
</nav>
