.skin1{
  background:url(../../img/gb/205.gif);
}
body{
  background:url(../../img/gb/205.gif);
}
.headerWrapper{
	background-image: url(../../img/gb/005.jpg);
}
.textTiTle{color:#fff !important;
	font-size: 18px;
	text-shadow:0 0 5px #CCCCCC, 0 0 10px #CCCCCC, 0 0 15px #CCCCCC, 0 0 20px #095816, 0 0 25px #095816, 0 0 30px #095816, 0 0 50px #095816, 0 0 80px #095816, 0 0 100px #095816, 0 0 150px #095816;
}