.skin1{
  background:url(../../img/gb/201.gif);
}
body{
  background:url(../../img/gb/201.gif);
}
.headerWrapper{
	background-image: url(../../img/gb/001.jpg);
}
#jsmind_container{
	border: 1px solid #452625;
}
.container aside dl dd a{
	color:#8744DB !important;
}