<div class="container" style="height:80px;line-height:80px;width:100%;float:left;border:5px solid #934642;background:#154673;border-radius: 5px;text-align: center;">
	<ul>
		<li class="col-md-3"><a href="/poHome">home</a></li>
		<li class="col-md-3"><a href="/poAdds">add</a></li>
		<li class="col-md-3"><a href="/poRevise">revise</a></li>
		<li class="col-md-3"><a href="/poDelete">delete</a></li>
	</ul>
</div>