<div class="poHeaderTop">
    <span class="topTitle">Kang.cool</span>
</div>
<div class="poHeader" >
	<ul>
		<!--<li class="col-md-12"><a href="/poHome">home</a></li>
		<li class="col-md-12"><a href="/poAdds">add</a></li>
		<li class="col-md-12"><a href="/poRevise">revise</a></li>
		<li class="col-md-12"><a href="/poDelete">delete</a></li>-->
        <li class="col-md-12"><a href="/poReviseBlogs">笔记</a></li>
        <li class="col-md-12"><a href="/poReviseNotes">便签</a></li>
        <li class="col-md-12"><a href="/poReviseFeels">读后感</a></li>
        <li class="col-md-12"><a href="/poReviseTranslate">译文</a></li>
        <li class="col-md-12"><a href="/poReviseProse">说说</a></li>
        <li class="col-md-12"><a href="/poReviseCatalogue">导航</a></li>
        <!--<li class="col-md-2"><a href="/poBlogs">blogs</a></li>
        <li class="col-md-2"><a href="/poNotes">notes</a></li>
        <li class="col-md-2"><a href="/poFeels">feels</a></li>
        <li class="col-md-2"><a href="/poTranslate">translate</a></li>
        <li class="col-md-2"><a href="/poProse">prose</a></li>
        <li class="col-md-2"><a href="/poCatalogue">catalogue</a></li>-->
	</ul>
</div>