	<script type="text/javascript" src="../js/jquery-main-211.js"></script>
	<script type="text/javascript" src="../js/header.js"></script>
	<script type="text/javascript" src="js/po/page.js"></script>
	<script src="../ckeditor/ckeditor.js"></script>
	<script src="../ckeditor/adapters/jquery.js"></script>
	<script type="text/javascript">
		$( document ).ready( function() {
			$( 'textarea#editor1' ).ckeditor();
		} );
	</script>
	<script type="text/javascript" src="lib/prettify/prettify.js"></script>
	<script>
		$(document).ready(function(){
			 $(".linenums").addClass("prettyprint");
		});
	</script>
</body>
</html>