<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>KANGJIAN</title>
	<link rel="stylesheet"  href="../css/index.css" type="text/css" media="all">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../lib/ui-select/module.css">
    <script type="text/javascript" src="../js/jquery-main-211.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
    <script type="text/javascript" src="js/po/page.js"></script>
    <script type="text/javascript" src="../lib/calendar/WdatePicker.js"></script>
    <script src="../ckeditor/ckeditor.js"></script>
    <script src="../ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="../lib/ui-select/ui-select.js"></script>

</head>
<body onLoad="goPage(1,15);">
