
<div class="container poNav">
	<ul>
<<<<<<< HEAD
		<li class="col-md-2"><a href="/poReviseBlogs">blogs</a></li>
		<li class="col-md-2"><a href="/poReviseNotes">notes</a></li>
		<li class="col-md-2"><a href="/poReviseFeels">feels</a></li>
		<li class="col-md-2"><a href="/poReviseDomain">domain name</a></li>
		<li class="col-md-2"><a href="/poReviseProse">prose</a></li>
		<li class="col-md-2"><a href="/poReviseCatalogue">catalogue</a></li>
=======
		<li class="col-md-3"><a href="/poReviseBlogs">blogs</a></li>
		<li class="col-md-3"><a href="/poReviseDomain">domain name</a></li>
		<li class="col-md-3"><a href="/poReviseProse">prose</a></li>
		<li class="col-md-3"><a href="/poReviseCatalogue">catalogue</a></li>
>>>>>>> origin/master
	</ul>
</div>