<%- include ../poHeaderLoader %>
		<div class="container poContents"  id="contents">
			<%- include ../header %>
			<%- include nav %>
			<p class="poName">kang.cool</p>
		</div>
<%- include ../poFooterLoader %>