<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="HandheldFriendly" content="true">
	<meta name="apple-mobile-web-app-capable" content="YES">
	<title>康健</title>

	<link rel="stylesheet" type="text/css" href="../css/resume/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/resume/animate.css">
	<link rel="stylesheet" type="text/css" href="../css/resume/header.css">
	<link rel="stylesheet" type="text/css" href="../css/resume/content.css">
	<link rel="stylesheet" type="text/css" href="../css/resume/footer.css">

	<script type="text/javascript" src="../js/resume/jquery.min.js"></script>
	<script type="text/javascript" src="../js/resume/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="../js/resume/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../js/resume/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/resume/jquery.inview.min.js"></script>
	<script type="text/javascript" src="../js/resume/mootools-core.js"></script>
	<script type="text/javascript" src="../js/resume/content.js"></script>
	<script type="text/javascript" src="../js/resume/modernizr.custom.js"></script>
 	<script type="text/javascript" src="../js/resume/jquery.gallery.js"></script>
	<script type="text/javascript" src="../js/resume/easyBackground-min.js"></script>
</head>
<body>
	<header>
		<div  class="container">
			<ul class="nav-menu clearfix unstyled">
				<li><a href="#" class="three-d">
					主页
					<span class="three-d-box"><span class="front">主页</span><span class="back">主页</span></span>
				</a></li>
				<li><a href="#" class="three-d">
					博客
					<span class="three-d-box"><span class="front">博客</span><span class="back">博客</span></span>
				</a></li>
				<li><a href="#" class="three-d">
					生活
					<span class="three-d-box"><span class="front">生活</span><span class="back">生活</span></span>
				</a></li>
				<li><a href="#" class="three-d">
					新闻
					<span class="three-d-box"><span class="front">新闻</span><span class="back">新闻</span></span>
				</a></li>
				<li><a href="#" class="three-d">
					音乐
					<span class="three-d-box"><span class="front">音乐</span><span class="back">音乐</span></span>
				</a></li>
				<li><a href="#" class="three-d">
					设计
					<span class="three-d-box"><span class="front">设计</span><span class="back">设计</span></span>
				</a>
					<ul class="clearfix unstyled drop-menu">
						<li><a href="#" class="three-d">
								整站设计
								<span class="three-d-box"><span class="front front2">整站设计</span><span class="back">整站设计</span></span>
							</a></li>
							<li><a href="#" class="three-d">
								整页设计
								<span class="three-d-box"><span class="front front2">整页设计</span><span class="back">整页设计</span></span>
							</a></li>
							<li><a href="#" class="three-d">
								特效设计
								<span class="three-d-box"><span class="front front2">特效设计</span><span class="back">特效设计</span></span>
							</a></li>
					</ul>
				</li>
				<li><a href="#" class="three-d">
					友情链接
					<span class="three-d-box"><span class="front">友情链接</span><span class="back">友情链接</span></span>
				</a></li>
			</ul>
		</div>
	</header>
	<nav id="primary">
		<div class="change-languages">
			<a class="change-languages-title dropdown-toggle" href="#" data-toggle="dropdown" ></a>
			<ul class="change-languages-content dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li class="lang-active">
					<a href="/resume">
						<img src="../img/resume/languages/ch.png" alt="Arabic" title="Arabic">
						<span>中文</span>
					</a>
				</li>
				<li class="lang-active">
					<a href="/enresume">
						<img src="../img/resume/languages/en.png" alt="English (UK)" title="English (UK)">
						<span>英文</span>
					</a>
				</li>
			</ul>
		</div>
		<ul class="header-right-ul">
			<li><h1>First manned flights</h1><a href="#one-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#two-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#three-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#four-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#four-one-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#seven-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#twelve-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#nine-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#six-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#eleven-part">g</a></li>
			<li><h1>First manned flights</h1><a href="#footer">g</a></li>
		</ul>
		<!--<div class="go-back" id="back_top" >

		</div>-->
	</nav>
	<div class="header" id="one-part">
		<img class="header-background" src="../img/resume/one-part/header-background.png" alt="header-background">
		<section data-speed="8" data-type="background">
		<div class="container auto-centre" data-type="sprite" data-offsetY="1" data-Xposition="50%" data-speed="-2">
			<div class="header-show-imgs">
				<img class="header-show" src="../img/resume/one-part/a1.png" alt="header-show">
			</div>
			<div class="header-show-items">
				<h3 class="smashinglogo" >欢迎浏览我的简历</h3 >
				在线简历系统，使用jquery、bootstrap等js框架，应用前端技术有简单轮播图、视觉差、css3控制透明度、html5自适应屏幕等，演示地址：http://kangjian.net.cn/，源码地址：https://github.com/kahn1990/akahn-resume-html/
			</div>
			</section>
		</div>
	</div>
	<div class="content" >
		<!--  two-part -->
		<div class="row-content" id="two-part">
			<div class="container two-part">
				<h3 class="row row-content-two-part-title">
					<span>大学三年中我都做了些什么呢？</span>
				</h3>
				<div class="row row-content-two-part-action">
					<div class="module-intro text-center box-center col-sm-8">
									我只是万千大学生中普普通通的一员，没有获得过高额的奖学金，
									没有国家级竞赛的参赛经历，
									也没有那些闪烁耀眼的学生干部头衔，
									那么平凡而又普通的我在三年大学生活中都做了那些事情了呢.
					</div>
					<div class="row-content-two-part-action-show">
						<div class="col-xs-12 col-sm-12 col-md-4 active-time" data-animation="pop-up" data-delay="200">
							<div class="two-part-img">
								<img src="../img/resume/two-part/1.png" alt="">
							</div>
							<div class="two-part-summary">
								<h4 class="two-part-summary-title">
									<a href="">
										2011-2012
									</a>
								</h4>
								<p class="two-part-summary-content">
									在大学之前就开始做域名商，精通域名交易规则，
									大一时做过shenyixuan.com、yoogc.com两个网站（现已关闭），
									备案号码‘豫ICP备12000044号’，三年个人站长经历	，熟悉网站搭建，VPS，优化等技能
								</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4 active-time" data-animation="pop-up" data-delay="400">
							<div class="two-part-img">
								<img src="../img/resume/two-part/2.png" alt="">
							</div>
							<div class="two-part-summary">
								<h4 class="two-part-summary-title">
									<a href="">
										2012-2013
									</a>
								</h4>
								<p class="two-part-summary-content">
								[root＠mylive 大一] cd .. <br>
								[root＠mylive 我的大学]mkdir 大二<br>
								[root＠mylive 我的大学]cd 大二<br>
								[root＠mylive 大二]cp /我的大学/大一/*  /我的大学/大二/

								</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4 active-time" data-animation="pop-up" data-delay="600">
							<div class="two-part-img">
								<img src="../img/resume/two-part/3.png" alt="">
							</div>
							<div class="two-part-summary">
								<h4 class="two-part-summary-title">
									<a href="">
										2011-2012
									</a>
								</h4>
								<p class="two-part-summary-content">
									大三在由个人站长转向职业前端设计， 并为此付出全部努力，日常操作系统cotens， 熟悉html5、css3、php、json、ajax、linux等 略通jsp
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--  three-part -->
		<div class="row-content  three-part" id="three-part">
			<div class="container ">
				<div class="three-part-content">
					<div class="col-sm-12 col-md-5 three-part-content-about-us ">
						<div class="active-time " data-animation="move-from-left">
							<h3>康健</h3>
							<h4>90年生/178cm/65kg/双子座/哈尔滨</h4>
							<p>院校：哈尔滨理工大学/软件工程学院</p>
							<p>专业：软件工程专业/嵌入式技术</p>
							<p>年级：2011年入学/大学三年级/11级6班</p>
							<p>意向：web前端工程师及其相关职业</p>
							<p>爱好：木雕/钓鱼/散文/互联网/电子商务/设计</p>
							<p>喜欢：数学/哲学/经济学</p>
							<p>优点：想象力丰富/喜欢钻研探索/富有责任心</p>
						</div>
					</div>
					<!--<div class="col-xs-12 col-sm-4 col-md-7">
						<div class="three-part-content-img active-time" data-animation="move-from-right">
							<img src="../img/resume/three-part/me.png" alt="">
						</div>
					</div>-->
				</div>
			</div>
		</div>
		<!--  four-part -->
		<div class="row-content  " id="four-part">
			<div class="container four-part">
				<div class="four-part-content">
					<h3 class="four-part-content-title">
						<span>我都会哪些呢？</span>
					</h3>
					<p class="text-center box-center col-sm-8 four-part-content-caption">
						前端、后台、运维、运营都略有涉及，但更擅长的还是前端，前端设计是一门艺术， 而我热爱这一门艺术，并期望迈入前端领域中最辉煌的艺术殿堂。
					</p>
					<div class="text-center four-part-content-img">
						<a class="four-part-content-img-box active-time" data-animation="pop-up" data-delay="200"><img src="../img/resume/four-part/logo-1.png" alt=""></a>
						<a class="four-part-content-img-box active-time" data-animation="pop-up" data-delay="400"><img src="../img/resume/four-part/logo-2.png" alt=""></a>
						<a class="four-part-content-img-box active-time" data-animation="pop-up" data-delay="600"><img src="../img/resume/four-part/logo-3.png" alt=""></a>
						<a class="four-part-content-img-box active-time" data-animation="pop-up" data-delay="800"><img src="../img/resume/four-part/logo-4.png" alt=""></a>
						<a class="four-part-content-img-box active-time" data-animation="pop-up" data-delay="1000"><img src="../img/resume/four-part/logo-5.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		<!--  five-part -->
		<div class="row-content  " id="five-part">
			<div class="container five-part">
				<div class="five-part-content">
					<ul class="five-part-content-list">
						<li class="col-xs-12 col-sm-2 col-md-1 active">
							<span>
								<img src="../img/resume/five-part/1.png" alt="了解HTML5标签以及新特性，喜欢响应式布局" title="http://w3.org/html/">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1 ">
							<span>
								<img src="../img/resume/five-part/2.png" alt="擅长应用css3对页面细节进行修饰和完善" title="http://w3.org/Style/css/resume/">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/3.png" alt="对jquery有简单的了解和认识" title="http://jquery.com/">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/4.png" alt="这个页面就是基于bootstrap布局的" title="http://getbootstrap.com/">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/5.png" alt="很感兴趣，正准备学习" title="http://seajs.org">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/6.png" alt=" 可以简单做小项目" title="http://nodejs.org">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/7.png" alt="很感兴趣，正准备学习" title="http://zeptojs.com">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/8.png" alt="没什么太多描述，使用过" title="http://json.org">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/9.png" alt="应用原生语言做过购物网站" title="http://jsp.com/">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/10.png" alt="没什么技术含量，使用过" title="http://git-scm.com">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
						<li class="col-xs-12 col-sm-2 col-md-1">
							<span>
								<img src="../img/resume/five-part/11.png" alt="日常使用ubuntu14.04" title="http://linux.org">
							</span>
							<i class="fa fa-quote-left"></i>
						</li>
					</ul>
					<blockquote  class="five-part-content-action text-center box-center col-md-8 col-xs-12 col-sm-10" style="display: block;">
						"了解HTML5标签以及新特性，喜欢响应式布局"
						<br>
						<small>http://w3.org/html/</small>
					</blockquote>
				</div>
			</div>
		</div>
				<!--  four-part-one -->
		<div class="row-content  " id="four-one-part">
		<div class="four-one-part">
			<div id="pxs_container" class="pxs_container">
			<div class="pxs_bg">
				<div class="pxs_bg1"></div>
				<div class="pxs_bg2"></div>
				<div class="pxs_bg3"></div>
			</div>
			<div class="pxs_loading">Loading images...</div>
			<div class="pxs_slider_wrapper">
				<ul class="pxs_slider">
					<li><img src="../img/resume/four-one-part/z1.jpg" alt="First Image" /></li>
					<li><img src="../img/resume/four-one-part/z2.jpg" alt="Second Image" /></li>
					<li><img src="../img/resume/four-one-part/z3.jpg" alt="Third Image" /></li>
					<li><img src="../img/resume/four-one-part/z4.jpg" alt="Forth Image" /></li>
					<li><img src="../img/resume/four-one-part/z5.jpg" alt="Fifth Image" /></li>
					<li><img src="../img/resume/four-one-part/z6.jpg" alt="Sixth Image" /></li>
				</ul>
				<div class="pxs_navigation">
					<span class="pxs_next"></span>
					<span class="pxs_prev"></span>
				</div>
				</div>
			</div>
		</div>
		</div>
			<!--  seven-part -->
		<div class="row-content  " id="seven-part">
			<div class="container seven-part">
				<div class="seven-part-content col-xs-12 ">
					<h3 style="margin-bottom: 14px;" class="row-feature-title">
						<span>想知道更多关于我的事情么？</span>
					</h3>
					<p class="text-center box-center col-sm-8">
						请访问我的博客，KANGJIAN.NET.CN写一些我会的技术，
						KANGJIAN.ORG.CN生活中的事情
					</p>
					<p class="text-center  box-center col-sm-8">
						<a class="btn btn-success btn-lg seven-part-content-a1" href="http://www.kangjian.net.cn">
							KANGJIAN.NET.CN
						</a>
						<a class="btn btn-info btn-lg seven-part-content-a2" href="http://www.kangjian.org.cn">
							KANGJIAN.ORG.CN
						</a>
					</p>
				</div>
			</div>
		</div>
		<!--  eight-part -->
		<div class="row-content  " id="eight-part">
			<div class="container eight-part">
				<div class="eight-part-content col-xs-12 ">
					<div class="eight-part-content-shadow">&nbsp;</div>
					<div class="eight-part-content-title">
						<h3>生活中的我是什么样子的呢？</h3>
						<p>
							我们在生活中可以发现自己，也可以在生活中迷失自己，可以找到方向，也可以迷失方向，我希望生活中我可以带给身边的人最坦诚的快乐，让所有人不再迷茫。
						</p> 
					</div>
					<div class="eight-part-content-img" ></div>
				</div>
			</div>
		</div>
		<!--  twelve-part -->
		<div class="twelve-part" id="twelve-part">
           			<section id="dg-container" class="dg-container">
                			<div class="dg-wrapper">
                				<a href="" class="dg-img1" style="">
                					<img src="../img/resume/twelve-part/1.jpg" alt="image01">
                					<!--<div>nodejs</div>-->
                 				</a>
                 				<a href=""  class="dg-img1" style="">
                					<img src="../img/resume/twelve-part/2.jpg" alt="image02">
                 					<!--<div>mongodb</div>-->
                				</a>
                 				<a href=""  class="dg-img1" style="">
                 					<img src="../img/resume/twelve-part/3.jpg" alt="image03">
                					<!--<div>javaScript</div>-->
               					 </a>
                    				<a href=""  class="dg-center" style="">
                     					   <img src="../img/resume/twelve-part/6.jpg" alt="image03">
                    				</a>
              				  </div>
            			</section>
		</div>
		<!--  nine-part -->
		<div class="row-content  " id="nine-part">
			<div class="container nine-part">
				<div class="nine-part-content col-xs-12 ">
					<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="nine-part-content-swrap" >
							<h3 class="nine-part-content-title ">
								<span>岁月</span>
							</h3>
							<div class="nine-part-content-action">
								<div class="module-intro text-center box-center col-sm-8">
								岁月无痕，谁叹光阴流转，时光易逝，谁念人来人散；
									当手中的沙粒散落，我们想要握紧它，还是松开手？当旧时明月圆缺，我们还念它，还是只看今夜的明月？
								</div>
								<ul class="nine-part-content-action-list">
									<li class="nine-part-content-action-list-li active-time" data-delay="200" data-animation="fadeIn">
										<div class="action-list-li-img">
											<img src="../img/resume/nine-part/a1.jpg" alt="">
										</div>
										<div>
											<h4>
												<a class="action-list-li-title ">
													三四岁的记忆
												</a>
											</h4>
											<p class="action-list-li-text">
												三四岁的记忆是一盏记不起味道的淡茶，回味？或是忘记？
											</p>
										</div>
									</li>
									<li class="nine-part-content-action-list-li active-time" data-delay="400" data-animation="fadeIn">
										<div class="action-list-li-img">
											<img src="../img/resume/nine-part/a2.jpg" alt="">
										</div>
										<div>
											<h4>
												<a class="action-list-li-title ">
													至所有的时光
												</a>
											</h4>
											<p class="action-list-li-text">
												至所有的时光，所有的岁月，愿我们永远都坚信最淳朴的明天
											</p>
										</div>
									</li>
									<li class="nine-part-content-action-list-li active-time" data-animation="fadeIn" data-delay="600" >
										<div class="action-list-li-img">
											<img src="../img/resume/nine-part/a3.jpg" alt="">
										</div>
										<div>
											<h4>
												<a class="action-list-li-title ">
													十七八岁的流光
												</a>
											</h4>
											<p class="action-list-li-text">
												十七八岁的流光伴随着无忧的笑脸，十七八岁的笑脸是记忆最深处的流恋
											</p>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  six-part -->
		<div class="row-content  " id="six-part">
			<div class="container six-part">
				<div class="six-part-content col-xs-12 ">
					<div class="six-part-content-title ">
						<h3>整站设计</h3>
						<a class="btn btn-border btn-lg" href="#">
							<span>更多</span>
						</a>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
						<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
					<div class="six-part-content-title ">
						<h3>整页设计</h3>
						<a class="btn btn-border btn-lg" href="#">
							<span>更多</span>
						</a>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
						<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
					<div class="six-part-content-title ">
						<h3>特效设计</h3>
						<a class="btn btn-border btn-lg" href="#">
							<span>更多</span>
						</a>
					</div>
					<div class="six-part-content-show  ">
						<div class="six-part-content-show-img">

								<img src="../img/resume/six-part/intro-4.jpg" alt="">

						</div>
						<div class="six-part-content-show-title">
							<h4>
								<a class=" six-part-content-show-title-a" href="#">
									这个是测试标题
								</a>
							</h4>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  eleven-part -->
		<div class="eleven-part" id="eleven-part">
			<div class="container">
				<div class="eleven-part-title" >
					爱生活，爱前端，爱白雪
				</div>
			</div>
			<div class="eleven-part-img1"></div>
			<div class="eleven-part-img2"></div>
			<div class="eleven-part-img3"></div>
			<div class="eleven-part-img4"></div>
			<div class="eleven-part-img5"></div>
			<div class="eleven-part-img6"></div>
		</div>
 		<!--<div>-->
	</div>
	<footer  class="footer" id="footer">
		<div class="footer-info ">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<a href="@" alt="">
							关于我：
						</a>
						<ul>
							<li>
								<strong>电话：</strong>
								131-0088-8***
							</li>
							<li>
								<strong>邮件：</strong>
								kangjian1990@live.com
							</li>
							<li>
								<strong>QQ：</strong>
								122478499
							</li>
							<li>
								<strong>GitHub：</strong>
								https://github.com/kahn1990
							</li>
						</ul>

					</div>
				</div>
				<section  data-speed="8" data-type="background" data-offsetY="250">
					<div class="footer-thanks" data-type="footer" data-offsetY="300"  data-speed="-2" >
						谢谢浏览
					</div>
				</section>
				<div class="footer-name"  >
					作者：康健
					<br>
					2014年08月24日
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
