<aside class="left-data col-md-3">
	<h2 class="left-data-title" style="cursor: pointer;">归档</h2>
	<%- include blogTag %>
	<!--<table class="table table-striped">
	<% PostBlogDate.forEach(	function(PostBlogDate){%>
		<tr>
			<td>
				<a href="/in/PageByData?riqi_dates='<%= PostBlogDate.kt_riqi_dates %>'">
					<%= PostBlogDate.kt_riqi_dates %>
				</a>
			</td>
		</tr>
	<% });%>
	</table>-->
</aside>