<aside class="left-data col-md-3">
	<h2 class="left-data-title">归档</h2>
	<nav class="header-tags container-fluid">
		<ul class="tag-box col-md-12">
		<% PostNoteTag.forEach(	function(PostNoteTag){%>
			<li class="tag-link">
				<a href="/in/notesByMenu?tags_ids=<%= PostNoteTag.kt_note_tags_ids %>">
					<%= PostNoteTag.kt_note_tags_name %>
				</a>
				<span><%= PostNoteTag.notes_tags_num %></span>
			</li>
		<% });%>
		</ul>
	</nav>
</aside>