<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme.min.css">
<div class="container" style="background:#DD603B;height:500px;border:5px solid #F01942;">
<p style="padding:10px;color:#fff"><%=gradient %></p>
<div class="col-md-12" style="background:#fff;padding:1px;">
<div class="col-md-4"><p>效果图：</p></div>
<div  class="col-md-8"style="width:50px;height:50px;margin:50px;background:<%=startColorString %>;<%=gradient %>"></div>
</div>
</div>






