@import '../definition';
#gotop {
	background: url(../../img/backup.png);
	position: fixed;
	z-index: 93;
	right: 30px;
	cursor: pointer;
	width: 33px;
	height: 33px;
	bottom: 50px;
}
.site-footer {
	position: relative;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	line-height: 1.5;
	color: #FFF;
	border-top: 1px solid #eee;
	.right {
		float: right;
	}
	.site-footer-links {
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
			line-height: 16px;
		}
		a {
			color: #4183c4;
			text-decoration: none;background: transparent;
		}
	}
}
.footerGb{
	height: 80px;
	background: rgba(48, 102, 101, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
.footerContentBg{
	/*background: url(../img/gb/giveusacallimage.png) no-repeat bottom center;*/
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	height: 80px;
}
/*
#bkDiv
{
  // The rainbow Css3 pattern
  background: linear-gradient(0deg, transparent 0%, #9c3a26 10%,
          #198441 25%,#009cff 37%, #174b09 50%,
          #2d527c 62%, #893646 75%, #3b562b 90%,transparent 100%);
  background-color: #d04982;
  background-size: 10px 125px;
  background-repeat : repeat;
  height : 80px;
  width : 100%;

  background-position:center -65px;
  transition: background-position 1s;
}
//底部背景文字遮罩层

#bkDiv:hover
{
  // on Hover the background translates 65px down
  background-position:center 0px;
}

#bkDiv .theText
{
  font-family: Impact, Charcoal, sans-serif;
  stroke-width: 5px;
  letter-spacing: 5px;
  fill-opacity: 0.1;
  stroke-opacity: 1;
  -webkit-animation: cAnim1 0.5s linear 0s infinite;
  font-size:65px;
  stroke:#000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}*/
/*
#bkDiv
{
  // Red dots Css3 pattern
  background: linear-gradient(-45deg, #036 30%,transparent 45%,transparent 55%,#036 70%),
  linear-gradient(45deg, #036 30%,transparent 45%,transparent 55%,#036 70%);
  background-color: #f00;
  background-size: 15px 15px;
  background-position:0px 0px;
  height:80px;
  width:100%;
  // Animating red dots (infinite loop)
  animation: cAnim 1s linear 0s infinite;
  -webkit-animation: cAnim 1s linear 0s infinite;
}

@keyframes cAnim
{
  100% {background-position:15px 0px;}
}

#bkDiv #theText
{
  font-family:Impact, Charcoal, sans-serif;
  font-size:120px;
  stroke:#000;
  stroke-width:5px;
  fill-opacity:0.1;
  stroke-opacity:1;
  // Strobe light effect animation
  animation: cAnim1 0.5s linear 0s infinite;
  -webkit-animation: cAnim1 0.5s linear 0s infinite;
}
@keyframes cAnim1
{
  100% {fill-opacity:0.9;stroke-opacity:0.5;}
}*/
