@import '../definition';
#gotop {
	background: url(../../img/backup.png);
	position: fixed;
	z-index: 93;
	right: 30px;
	cursor: pointer;
	width: 33px;
	height: 33px;
	bottom: 50px;
}
.site-footer {
	position: relative;
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 12px;
	line-height: 1.5;
	color: #FFF;
	border-top: 1px solid #eee;
	.right {
		float: right;
	}
	.site-footer-links {
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
			line-height: 16px;
		}
		a {
			color: #4183c4;
			text-decoration: none;background: transparent;
		}
	}
}
.footerGb{
	height: 300px;
	background: url(../../img/gb/13.jpg) 50% 0 repeat;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
.footerContentBg{
	background: url(../img/gb/giveusacallimage.png) no-repeat bottom center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	height: 300px;
}