@import '../definition';
.headerWrapper{
	width: 100%;
	/* position: fixed; */
	background: #278CDE;
/* 	background-position: center top; */
	/*background-attachment: scroll;*/
	z-index: 9;
	height: 40px;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.headerDiv{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99;
	width: 100% !important;
}
.logo{
	float: left;
	width: 100px;
	height: 100%;
}
.logo span{
	color:#fff;
	font-size:30px;
	font-weight:bold;font-family: Georgia,"Times New Roman",Times,serif;
	p{font-size: 12px;padding:0;margin:0;}
}

.search{
	float: right;
	border: #cccccc 1px solid;
	width: 200px;
	height:30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
	margin-top:5px;
	background:#fff;
}
.searchIn{
	padding-left: 10px ;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 150px;
	font-size: 13px;
	line-height: 30px;
	height: 30px;
	border: none;
	background: none;
	outline: none;
}
.submitSearch{
	width: 40px;
	height: 20px;
	background: #278CDE;
	/* text-indent: -9999px; */
	border: none;
	vertical-align: top;
	margin-top: 4px;
	border-radius:5px;
	font-size:12px;
	text-align:center;
	line-height:18px;
	color:#fff;
}
.lanageWrapper {
	width: 40px;
	float: right;
	position: relative;
	margin-top: 10px;
	color:$colorWhite;
	a{
		color:$colorWhite;
		&:hover{
			color:$colorWhite;
		}
	}
}
.loginWrapper {
	width: 60px;
	float: right;
	position: relative;
	margin-top: 10px;
	color:$colorWhite;
}
