@import '../definition';
.header-icon {
	.icon-box{
		display: block;
		overflow: hidden;
		.icon-link{
			float: left;
			a{
				@include borderRadius(50%);
				display: -moz-inline-stack;
				display: inline-block;
				vertical-align: middle;
				font: 0/0 a;
				margin: 0 8px;
				text-decoration: none;
				border: 1px solid #fff;
				width: 28px;
				height: 28px;
				&:hover{
					border: 1px solid #323131;
				}
			}
		}
	}
}