@import '../definition';
.MenuStatic {

}
#main-container{
  float:left;
  #sidebar{
    position: inherit;
  }
}
form{padding:0 !important;margin:0 !important;}
.MenuWrapper{
	/*background-color: #fff;*/
	display:inline-block;
	float:left;
	opacity: 0.9;
	border: none;
/* 	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8); */
	color:#ff6600;
	font-size: 14px;
	width: 600px;
	height:40px;
	text-align: center;
	z-index: 9999;
	font-weight: 400;
}
.ulMenu {
	text-transform: uppercase;
	width: 600px;
	margin: 0;
	padding:0;
	display: inline-block;

}.ulMenu > li {
cursor: pointer;
text-decoration: none;
list-style-type:none;
text-align:center;
color: #fff;
/* border-radius: 50px; */
float: left;
padding: 0 28px 0 0;
height:40px;
line-height:40px;

}.ulMenu > li span {
  display: inline-block;
color:#fff;
padding: 0 10px 0 15px;
}.submenuWrapper {
  position: absolute;
  cursor: auto;
  width: 100%;
  height:60px;
  line-height: 60px;
   left: 0px;
 /*border-radius: 50px;*/
 /*position: fixed;*/
 border-top: 1px solid rgba(255, 255, 255, 0.3);
 border-bottom: 1px solid #645A5A;
/*  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); */
top: 40px;
z-index: 9999;
display: none;
}.submenuContainer {
      height:60px;
      line-height: 60px;
      text-align: left;
      margin: auto;
      padding: 0 0 0 117px;
      .submenu {
      display: inline-block;
      vertical-align: top;
      width: auto;
      margin-right: 80px;
      line-height: 17px;
       li {
      margin-bottom: 18px;
      display:block;
      float:left;
      padding: 28px 88px 20px 55px;
      }
      a {
          color:#fff;
          text-decoration: none;
          text-transform: none;
          &:hover{
              color:#fff;
          }
      }
      }
    }
.bgColor li.liColorOne{
	background: #087366;text-decoration: none;list-style-type:none;
}
.bgColor li.liColorTwo{
	background: #59130D;text-decoration: none;list-style-type:none;
}
.bgColor li.liColorThree{
	background: #0D4A59;text-decoration: none;list-style-type:none;
}
.bgColor li.liColorFour{
	background: #072D49;text-decoration: none;list-style-type:none;
}
.bgColor li.liColorOne .submenuWrapper {
	/* background:rgba(48, 102, 101, 0.3); */
	background:#087366;
}
.bgColor li.liColorTwo .submenuWrapper {
	background:#59130D;
}
.bgColor li.liColorThree .submenuWrapper {
	background:#0D4A59;
}
.bgColor li.liColorFour .submenuWrapper {
	background: #072D49;
}
.ulMenu .selected span{
	color:#fff;
}
 .carat {
  display: inline-block;
margin-top: -2px;
border: 4px solid transparent;
border-top: 5px solid #fff;
}
/* .caratOne{
	left: 148px;
top: 37px;
}
.caratTwo{
	left:  362px;
top: 37px;
}
.caratThree{
	left: 568px;
top: 37px;
}
.caratFour{
	left: 788px;
top: 37px;
} */
li.liColorOne .caratOne{
	border-bottom: 5px solid #fff;border-top: 4px solid transparent;margin-top: -6px;
}
li.liColorTwo .caratTwo{
	border-bottom: 5px solid #fff;border-top: 4px solid transparent;margin-top: -6px;
}
li.liColorThree .caratThree{
	border-bottom: 5px solid #fff;border-top: 4px solid transparent;margin-top: -6px;
}
li.liColorFour .caratFour{
	border-bottom: 5px solid #fff;border-top: 4px solid transparent;margin-top: -6px;
}
.RLDom{
	display:block;
	float:right;
	width:80px;
	height:40px;
	line-height:40px;
	text-align:center;
	margin:0 10px 0 10px;
	a{
		color:#fff;
		text-decoration: none;
		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
	span{
		color: #fff;
	}
}

