@import '../definition';
.skinWrapper{
	width: 300px;
	float: right;
	margin:0;
	padding:0;
	position: relative;
	.skinBox{
		display: block;
		margin:0;
		padding:0;
		overflow: hidden;
		.skinLink{
			float: left;
			list-style: none;
			a{
				@include borderRadius(50%);
				display: -moz-inline-stack;
				display: inline-block;
				vertical-align: middle;
				font: 0/0 a;
				margin: 0 8px;
				text-decoration: none;
				border: 1px solid #fff;
				width: 38px;
				height: 38px;
				cursor:pointer;
			}
		}
	}
}