@import '../definition';
.wrapper {
	padding-top: 68px;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.wrapperNavOn {
	margin-top: 128px;
}
.wrapperNavOff {
	margin-top: 0;
}