@charset "UTF-8";
/* line 19, ../../sass/definition.scss */
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/* line 2, ../../sass/note/blog.scss */
.div-reader-title {
  width: 100%;
  height: 70px;
  line-height: 60px;
  color: #A52A9B;
  font-size: 30px;
  background: #fff;
  padding: 10px 30px 0 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}

/* line 18, ../../sass/note/blog.scss */
p.p-reader-title {
  display: block;
  float: left;
}

/* line 22, ../../sass/note/blog.scss */
a.a-reader-prev, a.a-reader-next {
  height: 20px;
  width: 80px;
  text-align: center;
  line-height: 20px;
  color: #6DAF45;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  float: right;
  cursor: auto;
}

/* line 42, ../../sass/note/blog.scss */
.div-reader-text {
  width: 100%;
  color: #3D3238;
  font-size: 20px;
  background: #fff;
  padding: 20px 30px 30px 30px;
}

/* line 49, ../../sass/note/blog.scss */
#prettyprint li {
  list-style: inherit;
}

/* line 52, ../../sass/note/blog.scss */
#reader-right #prettyprint ol, ul, dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  padding: 0;
}

/* line 59, ../../sass/note/blog.scss */
#reader-right {
  /* 富文本*/
}
/* line 60, ../../sass/note/blog.scss */
#reader-right ol, #reader-right ul {
  list-style-type: decimal-leading-zero;
}
/* line 64, ../../sass/note/blog.scss */
#reader-right .cke_editable {
  font-size: 13px;
  line-height: 1.6;
}
/* line 68, ../../sass/note/blog.scss */
#reader-right blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 2px 0 0 20px;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #ccc;
}
/* line 75, ../../sass/note/blog.scss */
#reader-right .cke_contents_ltr blockquote {
  padding-left: 20px;
  padding-right: 8px;
  border-left-width: 5px;
}
/* line 86, ../../sass/note/blog.scss */
#reader-right .cke_contents_rtl blockquote {
  padding-left: 8px;
  padding-right: 20px;
  border-right-width: 5px;
}
/* line 97, ../../sass/note/blog.scss */
#reader-right a {
  color: #0782C1;
}
/* line 99, ../../sass/note/blog.scss */
#reader-right a > img {
  padding: 1px;
  margin: 1px;
  border: none;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #0782C1;
}
/* line 110, ../../sass/note/blog.scss */
#reader-right ol, #reader-right ul, #reader-right dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  /*  padding: 0 40px;*/
}
/* line 118, ../../sass/note/blog.scss */
#reader-right h1, #reader-right h2, #reader-right h3, #reader-right h4, #reader-right h5, #reader-right h6 {
  font-weight: normal;
  line-height: 1.2;
}
/* line 124, ../../sass/note/blog.scss */
#reader-right hr {
  border: 0px;
  border-top-width: 0 0 0 5px;
  border-top-style: solid;
  border-top-color: #ccc;
}
/* line 132, ../../sass/note/blog.scss */
#reader-right img.right {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  float: right;
  margin-left: 15px;
  padding: 5px;
}
/* line 140, ../../sass/note/blog.scss */
#reader-right img.left {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  float: left;
  margin-right: 15px;
  padding: 5px;
}
/* line 148, ../../sass/note/blog.scss */
#reader-right pre {
  white-space: pre-wrap;
  /* CSS 2.1 */
  word-wrap: break-word;
  /* IE7 */
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  -ms-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
/* line 153, ../../sass/note/blog.scss */
#reader-right .marker {
  background-color: Yellow;
}
/* line 156, ../../sass/note/blog.scss */
#reader-right span[lang] {
  font-style: italic;
}
/* line 159, ../../sass/note/blog.scss */
#reader-right figure {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
}
/* line 169, ../../sass/note/blog.scss */
#reader-right figure > figcaption {
  text-align: center;
  display: block;
  /* For IE8 */
}

/* line 176, ../../sass/note/blog.scss */
.right-blogs {
  width: 920px;
  float: right;
  height: auto !important;
  margin-top: 0px;
}

/* line 182, ../../sass/note/blog.scss */
.right-blogs-frame {
  float: left;
  width: 800px;
  padding: 30px 30px 15px 30px;
  border: solid 1px #e7e7e7;
  border-bottom: none;
  background: #fff;
}
/* line 189, ../../sass/note/blog.scss */
.right-blogs-frame p {
  margin: 0 0 18px;
}

/* line 193, ../../sass/note/blog.scss */
.right-blogs-box {
  width: 100%;
  padding: 0;
  margin: 0 0 0px 0;
}

/* line 198, ../../sass/note/blog.scss */
.right-blogs-title {
  font-size: 20px;
  color: #292929;
  margin: 0 0 15px;
  font-family: 'Play', arial, serif;
  font-weight: normal;
  padding-bottom: 15px;
  border-bottom: dotted 1px #ddd;
}
/* line 206, ../../sass/note/blog.scss */
.right-blogs-title a {
  color: #3a3a3a;
}

/* line 210, ../../sass/note/blog.scss */
.right-blogs-bar {
  width: 117px;
  background: #fff;
  font: 11px/13px Helvetica, Arial, sans-serif;
  float: left;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e7e7e7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e7e7e7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e7e7;
  padding: 15px 15px 25px 15px;
}
/* line 227, ../../sass/note/blog.scss */
.right-blogs-bar p {
  margin: 0 !important;
}

/* line 233, ../../sass/note/blog.scss */
.right-bar-date {
  float: left;
  width: 90px;
  font-size: 14px;
  line-height: 18px;
  color: #a4a4a4;
  font-weight: bold;
  font-family: 'Play', Helvetica;
  border-bottom: dotted 1px #ccc;
}

/* line 243, ../../sass/note/blog.scss */
.right-bar-day {
  float: left;
  font-size: 34px;
  line-height: 48px;
  color: #2e2e2e;
  letter-spacing: -3px;
}

/* line 251, ../../sass/note/blog.scss */
.right-bar-holder {
  float: right;
  width: 49px;
  padding: 10px 0 0;
}

/* line 257, ../../sass/note/blog.scss */
.right-bar-month {
  color: #797979;
  display: block;
  margin: 0 0 -6px;
  text-transform: uppercase;
}

/* line 264, ../../sass/note/blog.scss */
.right-bar-title {
  display: block;
  font-size: 09px;
  line-height: 12px;
  font-weight: bold;
  color: #494949;
}

/* line 272, ../../sass/note/blog.scss */
.right-bar-tag {
  float: left;
  width: 100%;
  padding: 15px 14px 0 0;
}
