/*
Error: Invalid GBK character "\xE5"
        on line 63 of C:\Users\KANGJIAN\Desktop\www\kcoolBlog\public\sass\note\blog.scss

58: }
59: #reader-right{
60: 	ol, ul {
61: 		list-style-type:decimal-leading-zero;
62: 	}
63: 	/* 富文本*\/
64: 	.cke_editable{
65: 		font-size: 13px;
66: 		line-height: 1.6;
67: 	}
68: 	blockquote{

Backtrace:
C:\Users\KANGJIAN\Desktop\www\kcoolBlog\public\sass\note\blog.scss:63
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE5\"\A         on line 63 of C:\Users\KANGJIAN\Desktop\www\kcoolBlog\public\sass\note\blog.scss\A \A 58: }\A 59: #reader-right{\A 60: 	ol, ul {\A 61: 		list-style-type:decimal-leading-zero;\A 62: 	}\A 63: 	/* 富文本*/\A 64: 	.cke_editable{\A 65: 		font-size: 13px;\A 66: 		line-height: 1.6;\A 67: 	}\A 68: 	blockquote{"; }
