/* line 19, ../../sass/definition.scss */
body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/* line 2, ../../sass/note/feel.scss */
.leftFeel {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  position: relative;
  margin-bottom: 30px;
  float: left;
}
/* line 7, ../../sass/note/feel.scss */
.leftFeel .leftFeelBox {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
/* line 11, ../../sass/note/feel.scss */
.leftFeel .leftFeelBox .feelBoxList {
  list-style: none;
  padding: 0;
}
/* line 14, ../../sass/note/feel.scss */
.leftFeel .leftFeelBox .feelBoxList .feelBoxListLi {
  list-style: none;
  border-top: 1px solid #e5e5e5;
}
/* line 17, ../../sass/note/feel.scss */
.leftFeel .leftFeelBox .feelBoxList .feelBoxListLi a {
  position: relative;
  display: block;
  padding: 15px 64px 15px 30px;
  font-size: 14px;
  color: #4183c4;
  text-decoration: none;
  background: transparent;
  list-style: none;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
/* line 28, ../../sass/note/feel.scss */
.leftFeel .leftFeelBox .feelBoxList .feelBoxListLi .feelInco {
  background: url("../../img/book.png") no-repeat;
  height: 20px;
}
/* line 32, ../../sass/note/feel.scss */
.leftFeel .leftFeelBox .feelBoxList .feelBoxListLi .feelTag {
  text-align: right;
}
/* line 35, ../../sass/note/feel.scss */
.leftFeel .leftFeelBox .feelBoxList .feelBoxListLi .feelDate {
  text-align: right;
}
