body {
  color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.header-tags {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  float: left; }
  .header-tags .left-tag-title {
    padding: 10px;
    color: #3a3a3a;
    font-size: 16px;
    font-family: 'Play', Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0;
    border-bottom: solid 1px #e7e7e7; }
  .header-tags .header-nag-tags {
    padding: 0; }
    .header-tags .header-nag-tags .tag-box .tag-link {
      float: left; }

.tag-box {
  display: block;
  overflow: hidden;
  list-style: disc;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 13px;
  line-height: 18px;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-before: 1em;
  margin-after: 1em;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 0px;
  -o-margin-before: 1em;
  -o-margin-after: 1em;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-start: 0px;
  -ms-margin-before: 1em;
  -ms-margin-after: 1em;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-start: 0px;
  -moz-margin-before: 1em;
  -moz-margin-after: 1em;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .tag-box .tag-link {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    line-height: 1.8;
    display: list-item;
    text-align: -webkit-match-parent; }
    .tag-box .tag-link:hover {
      background-color: #660000; }
      .tag-box .tag-link:hover a, .tag-box .tag-link:hover span {
        color: #fff; }
    .tag-box .tag-link a {
      display: inline-block;
      text-decoration: none;
      font: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace 12px;
      color: #3a3a3a;
      height: 18px;
      line-height: 18px;
      margin: 5px 0 5px 8px;
      position: relative;
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -ms-border-radius: 0 5px 5px 0;
      -o-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      /*&:before {
      	content: " ";
      	width: 0px;
      	height: 0px;
      	position: absolute;
      	top: 0;
      	left: -18px;
      	border: 9px solid transparent;
      	border-right-color: $colorWhite;
      }
      &:after {
      	content: " ";
      	width: 4px;
      	height: 4px;
      	background-color: #660000;
      	@include borderRadius(4px);
      	@include box-shadow(0px 0px 0px 1px rgba(0,0,0,0.3));
      	position: absolute;
      	top: 7px;
      	left: 2px;
      }*/ }
      .tag-box .tag-link a:-webkit-any-link {
        cursor: auto; }
    .tag-box .tag-link span {
      vertical-align: super;
      font-size: 0.8em;
      color: #3a3a3a;
      padding-left: 3px;
      padding-right: 3px;
      -webkit-box-shadow: 0em 0em 0em 0em #ffffff;
      -moz-box-shadow: 0em 0em 0em 0em #ffffff;
      -ms-box-shadow: 0em 0em 0em 0em #ffffff;
      -o-box-shadow: 0em 0em 0em 0em #ffffff;
      box-shadow: 0em 0em 0em 0em #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }

/*# sourceMappingURL=tag.css.map */
